vendors = official

.animated {
    -webkit-animation-duration: .4s
    animation-duration: .4s
    -webkit-animation-fill-mode: both
    animation-fill-mode: both
}

.fadeIn {
    animation-name: fadeIn
    -webkit-animation-name: fadeIn
}

@keyframes fadeIn {
    from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.fadeOut {
    animation-name: fadeOut
    -webkit-animation-name: fadeOut
}

@keyframes fadeOut {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.slideUp {
    animation-name: slideUp
    -webkit-animation-name: slideUp
}

@keyframes slideUp {
    from {
        transform: translateY(500rpx)
        -webkit-transform: translateY(500rpx)
    }
    to {
        transform: translateY(0rpx)
        -webkit-transform: translateY(0rpx)
    }
}

@-webkit-keyframes slideUp {
    from {
        transform: translateY(500rpx)
        -webkit-transform: translateY(500rpx)
    }
    to {
        transform: translateY(0rpx)
        -webkit-transform: translateY(0rpx)
    }
}

.animatedSlide {
    -webkit-animation-duration: .4s
	animation-duration: .4s
	-webkit-animation-fill-mode: both
    animation-fill-mode: both
    -webkit-animation-timing-function: linear
    animation-timing-function: linear

}


.glideDown {
    animation-name: glideDown
    -webkit-animation-name: glideDown
}

@keyframes glideDown {
    from {
        transform: translateY(0rpx)
        -webkit-transform: translateY(0rpx)
    }
    to {
        transform: translateY(500rpx)
        -webkit-transform: translateY(500rpx)
    }
}

@-webkit-keyframes glideDown {
    from {
        transform: translateY(0rpx)
        -webkit-transform: translateY(0rpx)
    }
    to {
        transform: translateY(500rpx)
        -webkit-transform: translateY(500rpx)
    }
}
@font-face
    font-family 'iconfont' /* Project id 1514406 */
    src url('//at.alicdn.com/t/font_1514406_r2ex32p9up.woff2?t=1651741878795') format('woff2'), url('//at.alicdn.com/t/font_1514406_r2ex32p9up.woff?t=1651741878795') format('woff'), url('//at.alicdn.com/t/font_1514406_r2ex32p9up.ttf?t=1651741878795') format('truetype')
.iconfont
    font-family 'iconfont' !important
    font-size 16px
    font-style normal
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale


mixinsWidthHeight($width = 100%, $height = 100%)
    width $width
    height $height
mixinsIconfont($content='',$size=16px,$color=#5EBE68)
    content $content
    font-size $size
    color $color
mixinsPositionPack($position=relative)
    position $position
    left 50%
    transform translateX(-50%)
textLineCenter($height)
    text-align center
    line-height $height
flexModule($align=normal,$justify=normal)
    display flex
    align-items $align
    justify-content $justify
.mask
    z-index 100
    width 100vw
    height 100vh
    position fixed
    bottom 0
    background rgba(0, 0, 0, 0.4)
.make
    z-index 101
    width 100vw
    height auto
    background #fff
    border-radius 34rpx 34rpx 0 0
    position fixed
    bottom 0
    padding-bottom 120rpx
    .title
        padding 30rpx 0
        display flex
        align-items center
        justify-content center
        border-radius 34rpx 34rpx 0 0
        position relative
        font-size 32rpx
        font-family PingFang SC-Semibold, PingFang SC
        font-weight 600
        color #33333D
        margin-bottom 30rpx
        .btnClose
            display flex
            align-items center
            &:before
                content '\e63d'
                padding 10rpx 30rpx
                position absolute
                right 0rpx
                font-size 40rpx
                font-weight 500
                color #979797
    .module
        margin 0rpx 28rpx
        .btn
            mixinsWidthHeight(348rpx,90rpx)
            text-align center
            line-height 90rpx
            background #2A4F44
            box-shadow 0rpx 4rpx 2rpx 0rpx rgba(212,212,212,0.5)
            border-radius 55rpx 55rpx 55rpx 55rpx
            font-size 36rpx
            font-family PingFang SC-Semibold, PingFang SC
            font-weight 600
            color #FFFFFF
            position relative
            left 50%
            transform translateX(-50%)
            margin-top 60rpx
    // 设备升级
    .deviceUpgrade
        margin 0rpx 62rpx
        font-family PingFang SC-Regular, PingFang SC
        .carList
            background #FFFFFF
            border-radius 8rpx
            border 2rpx solid #E9CA7B
        .topCar
            max-height 400rpx
            overflow auto
            .yes
                &::before
                    mixinsIconfont('\e669',20rpx,#333333)
                    mixinsWidthHeight(43rpx,32rpx)
                    textLineCenter(32rpx)
                    border-bottom-left-radius 8rpx
                    background: #E9CA7B
                    position absolute
                    top -1rpx
                    right 0
            .no
                border 2rpx solid #E9CA7B
            .gray
                // 置灰
                filter grayscale(1)
                &::before
                    mixinsIconfont('暂不支持',20rpx,#333333)
                    mixinsWidthHeight(130rpx,32rpx)
                    textLineCenter(32rpx)
                    background: #D8D8D8
                    border-bottom-left-radius 8rpx
                    position absolute
                    top -1rpx
                    right 0
            .carNumber
                mixinsWidthHeight(622rpx,158rpx)
                position relative
                margin-bottom 20rpx
                .head
                    display flex
                    align-items center
                    mixinsWidthHeight(auto,36rpx)
                    margin 36rpx 0rpx 16rpx 30rpx
                    .icon
                        mixinsWidthHeight(52rpx,36rpx)
                        textLineCenter(32rpx)
                        font-size 13rpx
                        margin-right 24rpx
                        .image
                            mixinsWidthHeight()
                    .numberplate
                        font-size 32rpx
                        font-family PingFang SC-Medium, PingFang SC
                        font-weight 500
                        color #33333D
                .handlePhone
                    margin-left 92rpx
                    font-size 24rpx
                    font-family PingFang SC-Regular, PingFang SC
                    font-weight 400
                    color #66666E
        .package
            mixinsWidthHeight(622rpx,auto)
            .topDiv
                mixinsWidthHeight(,104rpx)
                display flex
                align-items center
                .h3
                    margin 0rpx 18rpx 0rpx 30rpx
                    display inline-block
                    font-size 32rpx
                    font-family PingFang SC-Semibold, PingFang SC
                    font-weight 600
                    color #1E1E1E
                .text
                    font-size 28rpx
                    font-family PingFang SC-Regular, PingFang SC
                    font-weight 400
                    color #262626
            .bottomDiv
                background #F9F6EF
                padding-bottom 30rpx
                border-radius 0rpx 0rpx 10rpx 10rpx
                .describe
                    margin 0rpx 30rpx
                    padding-top 10rpx
                    font-size 22rpx
                    font-family PingFang SC-Regular, PingFang SC
                    font-weight 400
                    color #262626
                .passTicket
                    margin 0rpx 30rpx
                    display flex
                    flex-wrap wrap
                    justify-content space-between
                    .sub
                        margin-top 18rpx
                        mixinsWidthHeight(258rpx,90rpx)
                        background rgb(94,190,104)
                        border-radius 8rpx
                        position relative
                        display flex
                        &::before
                            display block
                            content ""
                            mixinsWidthHeight(18rpx,11rpx)
                            background #F9F6EF
                            border-radius 0rpx 0rpx 10rpx 10rpx
                            position absolute
                            top 0rpx
                            right 90.5rpx
                        &::after
                            display block
                            content ""
                            mixinsWidthHeight(18rpx,11rpx)
                            background #F9F6EF
                            border-radius 10rpx 10rpx 0rpx 0rpx
                            position absolute
                            bottom 0rpx
                            right 90.5rpx
                        .splitLine
                            mixinsWidthHeight(0rpx,50rpx)
                            opacity 0.2488
                            border 1rpx dashed #FFFFFF
                            position absolute
                            top 50%
                            right 96rpx
                            transform translateY(-50%)
                        .leftPass
                            mixinsWidthHeight(159rpx,)
                            text-align center
                            color #FFFFFF
                            .moneyNum
                                margin-top 10rpx
                                font-size 17rpx
                                font-family Arial-BoldMT-Regular, Arial-BoldMT
                                font-weight 400
                                .money
                                    font-size 34rpx
                                    font-weight 400
                            .textMoney
                                margin-top -6rpx
                                font-size 16rpx
                                font-family PingFang SC-Regular, PingFang SC
                                font-weight 400
                        .rightPass
                            mixinsWidthHeight(98rpx,)
                            display flex
                            align-items center
                            justify-content center
                            .num
                                font-size 34rpx
                                font-family ArialMT-Regular, ArialMT
                                font-weight 400
                                color #FFFFFF
        .queryCar
            mixinsWidthHeight(618rpx,36rpx)
            font-size 28rpx
            font-weight 400
            color #39812B
            line-height 36rpx
            text-align center
            margin 0rpx 0 46rpx 0
        .btn
            width 662rpx
            background #ccc
        .noBtn
            background #ccc
        .yesBtn
            background #2A4F44

    
    // 第五代设备
    .newDevice
        publicmodule1()
            mixinsWidthHeight(,34rpx)
            font-size 24rpx
            font-family PingFangSC-Regular, PingFang SC
            font-weight 400
            line-height 34rpx
            margin-bottom 32rpx
        publicmodule2() 
            display block
            content ''
            height 162rpx
        publicmodule3()
            position absolute
            top 58rpx
            margin-top 34rpx
            mixinsWidthHeight(100%,160rpx)
            z-index 10
        .marginBox
            flexModule(center,center)
            background #F8F8F8
            border-radius 24rpx
            mixinsWidthHeight(694rpx,728rpx)
            .innerBox
                mixinsWidthHeight(654rpx,688rpx)
                background #FFFFFF
                border-radius 10rpx
                flexModule(normal,space-between)
                text-align center
                .left
                    position relative
                    margin 0rpx 30rpx
                    &::before
                        display block
                        mixinsWidthHeight(100%,330rpx)
                        content ''
                .center
                    position relative
                    mixinsWidthHeight(240rpx,)
                    .subCenter
                        margin-top 78rpx
                        mixinsWidthHeight(240rpx,490rpx)
                        background #F6F6F6
                        border-radius 8rpx
                        &::before
                            publicmodule2()
                .right
                    position relative
                    mixinsWidthHeight(240rpx,)
                    margin-right 30rpx
                    .subRight
                        margin-top 78rpx
                        mixinsWidthHeight(240rpx,490rpx)
                        background linear-gradient(180deg, #F9E9B9 0%, #E4CB86 100%)
                        border-radius 8rpx
                        &::before
                            publicmodule2()
                .titleNew
                    mixinsWidthHeight(224rpx,58rpx)
                    background #E3E3E3
                    border-radius 8rpx
                    margin-top 32rpx
                    font-size 24rpx
                    font-family PingFangSC-Regular, PingFang SC
                    font-weight 400
                    color #333333
                    textLineCenter(58rpx)
                .imgNew
                    publicmodule3()
                    .image4
                        mixinsWidthHeight(100%,100%)
                .imgNew1
                    publicmodule3()
                    top 76rpx
                    .image4
                        mixinsWidthHeight(90%,90%)
                .view
                    publicmodule1()
                    color #333333
                .view1
                    publicmodule1()
                    color #4D3D17
                    .text1
                        font-size 18rpx
    // 通通券
    .signTtCoupon
        text-align center
        .subTitle
            font-size 28rpx
            font-family PingFangSC-Regular, PingFang SC
            font-weight 400
            color #333333
        .imgTt
            margin 50rpx 0rpx 40rpx 12rpx
            mixinsWidthHeight(670rpx,234rpx)
    // 权益商城
    .giveEquityPackage
        text-align justify
        .subTitle
            text-align center
            font-size 28rpx
            font-family PingFangSC-Regular, PingFang SC
            font-weight 400
            color #333333
            line-height 44rpx
            margin-bottom 30rpx
        .pView
            flexModule(normal,space-between)
            flex-wrap wrap
            .subView
                margin-top 20rpx
                mixinsWidthHeight(325rpx,116rpx)
                background #FFF7EA
                border-radius 16rpx
                border 1rpx solid #FFDCB7
                flexModule(center,normal)
                .img
                    mixinsWidthHeight(84rpx,84rpx)
                    margin 0rpx 16rpx 0rpx 24rpx
                .textGive
                    font-size 26rpx
                    font-family PingFangSC-Medium, PingFang SC
                    font-weight 500
                    color #9D3B00
    .defaultEquityPackage
        .content
            .md1
                mixinsWidthHeight(690rpx,144rpx)
                background url(https://file.cyzl.com/g001/M02/ED/84/oYYBAGSuVQyATDA_AAAuxBB836s809.png) no-repeat
                background-size cover
                flexModule(normal,space-between)
                color #FDF7EC
                font-family PingFangSC-Medium, PingFang SC
                .mdLeft
                    mixinsWidthHeight(208rpx,)
                    .leftMoney
                        mixinsWidthHeight(,68rpx)
                        margin-top 20rpx
                        textLineCenter(68rpx)
                        font-size 60rpx
                        font-family D-DIN-PRO-SemiBold, D-DIN-PRO
                        font-weight 600
                        .text2
                            margin-left 6rpx
                            font-size 32rpx
                            font-weight 500
                    .leftDetail
                        mixinsWidthHeight(,32rpx)
                        textLineCenter(32rpx)
                        font-size 22rpx
                        font-weight 400
                        flexModule(center,center)
                        &.noExpand
                            &::after
                                margin-left 8rpx
                                mixinsIconfont('\e652',20rpx,#FDF7EC)
                        &.expand
                            &::after
                                display block
                                margin-left 8rpx
                                mixinsIconfont('\e652',20rpx,#FDF7EC)
                                transform rotate(180deg)
                .mdRight
                    mixinsWidthHeight(478rpx,)
                    padding-left 30rpx
                    .rightTitle
                        mixinsWidthHeight(,48rpx)
                        line-height 48rpx
                        margin-top 14rpx
                        font-size 34rpx
                        font-weight 500
                    .rightContent
                        mixinsWidthHeight(,64rpx)
                        margin-top 6rpx
                        font-size 22rpx
                        font-weight 400
                        line-height 32rpx
    .split
        width 100vw
    .image
        mixinsWidthHeight()

