.iconfont
	font-family "iconfont" !important
	font-size 16px
	font-style normal
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
mixinsWidthHeight($width = 100%, $height = 100%)
	width $width
	height $height
mixinsIconfont($content='',$size=16px,$color=#5EBE68)
	content $content
	font-size $size
	color $color
mixinsPositionPack($position=relative)
	position $position
	left 50%
	transform translateX(-50%)
textLineCenter($height)
	text-align center
	line-height $height
flexModule($align=normal,$justify=normal)
	display flex
	align-items $align
	justify-content $justify
.index
	margin 0
	padding 0
	width 100vw
	min-height 100vh
	background-color #fff
	&::before
		display block
		content ''
		height 0.01rpx
		background-color #fff
	&::after
		display block
		content ''
		height 56rpx
	/* 公共模块 */
	.module
		margin 28rpx
		padding 28rpx
		border-radius 16rpx
		background-color #fff
		letter-spacing 0.38rpx
		font-family PingFangSC-Regular, PingFang SC
		box-shadow 0px 4rpx 2rpx 0rpx rgba(212, 212, 212, 0.5)
		.title
			font-size 34rpx
			color #33333D
			flexModule(center,normal)
			&::before
				display block
				content ''
				border-radius 50%
				margin-right 10rpx
				border 6rpx solid #54B95C
				mixinsWidthHeight(10rpx,10rpx)
		.subTitle
			font-size 24rpx
			font-weight normal
			margin-top 20rpx
			letter-spacing 0.32rpx
			font-variation-settings "opsz" auto
			color #262626
	.module1,.module3
		height auto
		padding 40rpx 20rpx
		background transparent
		box-shadow none
	.module2
		height auto
		padding 0
		.inputPic
			text-align left
			font-size 28rpx
			color #333333
			position relative
			border-radius 8px
			font-weight normal
			background #EEEEEE
			height 96rpx
			flexModule(center, space-between)
			.lableName
				margin-left 32rpx
				flexModule(center, normal)
			.input
				color #222222
				margin-left 22rpx
				display inline-block
				mixinsWidthHeight(400rpx, auto)
			.btnName 
				margin-right 28rpx
				&::before
					mixinsIconfont('\e65c',32rpx,#272636)
	.module3
		.title1
			font-size 34rpx
			font-weight 600
			letter-spacing 0rpx
			color #333333
		.pic
			margin-top 20rpx
			border-radius 8px
			mixinsWidthHeight(320rpx,204rpx)
			background #0f0
	/* 底部悬浮按钮 */
	.floatButton
		mixinsWidthHeight(100%,170rpx)
		background #fff
		padding 28rpx 0
		border-radius 16rpx 16rpx 0rpx 0rpx
		box-shadow: 0rpx -8rpx 30rpx 0rpx rgba(223, 223, 223, 0.3622)
		flexModule(center,center)
		position fixed
		bottom 0
		z-index 100
		.handleImmediately
			font-size 28rpx
			font-weight 600
			color #FFFFFF
			text-align center
			flexModule(center,center)
			flex-wrap wrap
			border-radius 64rpx
			letter-spacing 0.42rpx
			mixinsWidthHeight(662rpx,110rpx)
			font-family PingFangSC-Semibold, PingFang SC
			text-shadow 0 -8rpx 30rpx rgba(223, 223, 223, 0.36)
			box-shadow 0 -8rpx 30rpx 0 rgba(223, 223, 223, 0.36), 0 4rpx 2rpx 0 rgba(212, 212, 212, 0)
		.btn
			background #2A4F44
		.grey
			background #C0C0C0
	.image
		mixinsWidthHeight()