//渐变主题色
$themeColor1 = #1FD1B1;
$themeColor2 = #5DE59A;
.my_order
	.total-cost
		height 60rpx
		background #f6f6f6
		font-size 24rpx
		color #A9A9AC
		line-height 60rpx
		text-indent 58rpx
	.order-list
		background #FCFCFD
