@import "../../../style/base.styl"
page
	min-height 100vh
	background #fff
.my_order
	padding-top 88rpx
	// 欠费通知
	.notice
		position fixed
		top 0
		z-index 999
		width 100%
		height 72rpx
		background #fff
		font-size 24rpx
		border-top 1rpx solid #F0F0F0
		padding-left 32rpx
		padding-right 38rpx
		box-sizing border-box
		.notice-box
			display flex
			align-items center
			height 72rpx
			color #FF563C
			.text0
				flex 9
				word-break break-all
			.text1
				width 52px
				height 20px
				border-radius 451px
				background #EEF6EF
				font-family PingFang SC
				font-weight normal
				letter-spacing 0rpx
				color #2A4F44
				text-align center
				line-height 36rpx
	//通行总额
	.total-cost
		padding 0 32rpx
		margin-top -20rpx
		font-size 28rpx
		font-weight 500
		color #3D3D3D
		line-height 40rpx
		letter-spacing 0rpx
		font-family PingFang SC
		font-variation-settings "opsz" auto
		.text2
			margin-top 12rpx
			font-size 22rpx
			font-weight normal
			line-height 32rpx
			text-align justify 
			color #999999
	//订单列表
	.order-list
		.order-list-content
			margin 0 32rpx
			padding 28rpx 0
			border-bottom 1rpx solid #E0E0E0
			.operating-expenses
				padding-top 44rpx
			.order-list-top
				display flex
				height 64rpx
				line-height 56rpx
				.license-plate
					flex 6
					font-size 40rpx
					font-weight 500
					color $fontColor3
					display flex
					align-items center
					text
						font-size 20rpx
						color #39A6F8
						margin-left 6rpx
				.fail-money,
				.success-money
					flex 4
					font-size 40rpx
					color #FF563C
					line-height 64rpx
					text-align right
				.success-money
					color $fontColor3
				.refund
					color $fontColor9
				.poundage
					color $fontColor9
					font-weight 400
					font-size 24rpx
					&::before
						content '\e668'
						color #27B266
						font-size 28rpx
						margin-right 12rpx
			.site
				display flex
				align-items center
				font-size 24rpx
				line-height 40rpx
				color $fontColor6
				padding 10rpx 0
				& > view:first-child
					flex 1 1 auto
					text::after
						content '\e651'
						color $fontColor6
						font-size 24rpx
						margin 0 5rpx
				& > view.refund
					width 98rpx
					height 28rpx
					line-height 28rpx
					font-size 16rpx
					text-align center
					font-family PingFangSC-Medium, PingFang SC
					font-weight 500
					color #FFFFFF
					background rgba(247, 181, 0, 0.62)
					border-radius 18rpx
					border 1rpx solid rgba(247, 181, 0, 0.13)
					margin-left 10rpx
				& > view.spilt-deductions
					background rgba(247, 110, 0, 0.41)
			.order-list-bottom
				display flex
				font-size 24rpx
				color $fontColor9
				line-height 30rpx
				.accounting-time,
				.processing-fail,
				.processing-time
					flex 5
				.processing-fail
					text-align right
					color #FF563C
					line-height 40rpx
				.processing-time
					text-align right
				.text3
					font-family PingFang SC
					font-weight normal
					line-height 32rpx
					letter-spacing 0rpx
					color #999999
.is_owes
	padding-top 208rpx
.is_owner_ervice
	padding-top 208rpx
	// 没有卡券
.empty
	text-align center
	color $fontColor6
	font-size 32rpx
	image
		width 192rpx
		margin 23.5vh 0 9.5vh
	view
		line-height 44rpx
