@import "../../../style/base.styl";
page
	min-height 100vh
	background #fff
.my_order
	padding-top 88rpx
	// 欠费通知
	.notice
		position fixed
		top 0
		z-index 999
		width 100%
		height 120rpx
		background #fff
		border-top 1rpx solid #F0F0F0
		.notice-box
			background #fff
			height 60rpx
			display flex
			align-items center
			padding 0 30rpx
			margin 30rpx
			&>view:first-child
				flex 8
				font-size 28rpx
				word-break break-all
				color #FF563C
			&>view:last-child
				flex 2
				font-size 20rpx
				color #fff
				text-align right
				text
					display inline-block
					width 120rpx
					height 48rpx
					line-height 48rpx
					border-radius 24rpx
					background #2FB565
					text-align center
	//通行总额
	.total-cost
		padding 20rpx 0 18rpx
		font-size 24rpx
		color $fontColor9
		line-height 40rpx
		text-indent 40rpx
		border-bottom 1rpx solid #E7E7E7
		&>view:first-child
			color $fontColor6
			font-weight 600
	//订单列表
	.order-list
		.order-list-content
			padding 34rpx 40rpx 28rpx
			border-bottom 1rpx solid #E7E7E7
			.order-list-top
				display flex
				height 64rpx
				line-height 56rpx
				.license-plate
					flex 6
					font-size 40rpx
					font-weight 500
					color $fontColor3
					text
						vertical-align middle
						font-size 20rpx
						color #39A6F8
						margin-left 28rpx
				.fail-money,
				.success-money
					flex 4
					font-size 40rpx
					color #FF563C
					line-height 64rpx
					text-align right
				.success-money
					color #2FB565
				.refund
					color $fontColor9
			.site
				display flex
				align-items center
				font-size 24rpx
				line-height 40rpx
				color $fontColor6
				padding 10rpx 0
				& > view:first-child
					flex 1 1 auto
					text::after
						content '\e651'
						color $fontColor6
						font-size 24rpx
				& > view.refund
					width 98rpx
					height 28rpx
					line-height 28rpx
					font-size 16rpx
					text-align center
					font-family PingFangSC-Medium, PingFang SC
					font-weight 500
					color #FFFFFF
					background rgba(247, 181, 0, 0.62)
					border-radius 18rpx
					border 1rpx solid rgba(247, 181, 0, 0.13)
					margin-left 10rpx
				& > view.spilt-deductions
					background rgba(247, 110, 0, 0.41)
			.order-list-bottom
				display flex
				font-size 24rpx
				color $fontColor9
				line-height 30rpx
				.accounting-time,
				.processing-fail,
				.processing-time
					flex 5
				.processing-fail
					text-align right
					color #FF563C
					line-height 40rpx
				.processing-time
					text-align right
.is_owes
	padding-top 208rpx
.is_owner_ervice
	padding-top 208rpx
	// 没有卡券
.empty
	text-align center
	color $fontColor6
	font-size 32rpx
	image
		width 192rpx
		margin 23.5vh 0 9.5vh
	view
		line-height 44rpx
