@import "../../../style/base.styl";
.high_speed_verification_failed
	// 失败
	& > image
		display block
		margin 112rpx auto 0
		width 50%
	// 文字描述开始
	.content
		text-align center
		.subtitle
			display flex
			align-items center
			justify-content center
			height 48rpx
			color $fontColor6
			padding-top 40rpx
			& > text
				color $error
		.back-home
			margin-bottom 40rpx
			display inline-block
			align-items center
			justify-content center
			margin-top 110rpx
			height 40rpx
			line-height 40rpx
			font-size 24rpx
			color #1797F7
	// 分割
	.split
		height 20rpx
		background: #F7F7F7
	// 广告开始
	.ad
		margin-top 40rpx
		width 670rpx
		height 364rpx
