.page
	height 100vh
	background #2FB565
	overflow scroll
	.content
		display flex
		flex-direction column
		margin 46rpx 30rpx
		padding 50rpx 40rpx
		background: #FFFFFF;
		border-radius 10rpx
		.content-item
			display flex
			flex-direction column
			justify-content center
			align-items center
			.title
				font-size: 48rpx;
				font-family: PingFangSC-Medium, PingFang SC;
				font-weight: 500;
				color: #33333D;
			.instructions
				margin-top 10rpx
				margin-bottom 30rpx
				font-size 28rpx
				color #66666D
			&>view
				margin-bottom 10rpx
				font-size 28rpx
				color rgba(102,102,109,0.85)
		.line
			height: 1rpx;
			opacity: 0.1;
			border-bottom 1rpx dashed #33333D;
		.item
			display flex
			color #66666D
			font-size 28rpx
			align-items center
			&.first
				margin-top 30rpx
			&.two
				margin-top 20rpx
				margin-bottom 30rpx
			&.three
				margin 30rpx 0rpx
			&.four
				margin-top 36rpx
				.left
					font-size: 32rpx;
					font-family: PingFangSC-Regular, PingFang SC;
					font-weight: 400;
					color: #33333D;
				.right
					&::after
						display inline-block
						height 24rpx
						color #66666D
						content '\e661'
						font-size 24rpx
			.left
				flex 1
		.instructions
			margin-top 32rpx
			font-size: 24rpx;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #66666D;
