@import "../../../style/base.styl";
.signed_successfully
	background #FFFFFF
	padding 0 32rpx
	box-sizing border-box
	text-align center
	min-height 100vh
	// 成功结果
	& > image
		display block
		margin 80rpx auto 48rpx
		width 460rpx
	.tips
		color $fontColor6
		font-size 28rpx
		line-height 44rpx
		text-align center
		text
			color #39A6F8
	// 下一步
	.btn
		display flex
		align-items center
		justify-content center
		margin 136rpx 0rpx 48rpx
		height 98rpx
		font-size 40rpx
		font-weight 500
		color #fff
		border-radius 49rpx
		background: linear-gradient(to right , $deepThemeColor, $shallowThemeColor)
		&.available
			animation btnFadeIn .3s
			animation-fill-mode forwards
		&.unavailable
			animation btnFadeOut .3s
			animation-fill-mode forwards
