.container
    .price
        height 238rpx
        font-size: 100rpx;
        font-family: Arial-BoldMT, Arial;
        font-weight: normal;
        color: #33333E;
        display flex
        align-items center
        justify-content center
        background: #F5F5F5;
	.title
        margin 32rpx 40rpx
        display flex
        align-items center
        font-size: 28rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #666;
        &:before
            content ''
            width: 4rpx;
            height: 22rpx;
            background: #00B85C;
            margin-right 5rpx
    .pay-mode
        margin 0 32rpx
        height: 148rpx;
        display flex
        align-items center
        padding 32rpx
        box-sizing border-box
        background: #F6F6F6;
        border-radius: 16rpx;
        .img
            margin-right 12rpx
            image
                width 48rpx
        .content
            .sub-title
                font-size: 30rpx;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #000000;
            .label
                font-size: 24rpx;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(0,0,0,0.5);
                margin-top 8rpx
