@import "../../../style/base.styl";
@import "../../../style/my_animate.styl";
.pinan
	height 100vh
	overflow hidden
	text-align center
	.small-program-code
		margin-top 20vh
		image
			width 500rpx
	// 按钮开始
	.activation
		position absolute
		bottom 100rpx
		width 100%
		.btns
			margin 51rpx 60rpx 0
			box-sizing border-box
			.btn
				display flex
				align-items center
				justify-content center
				height 98rpx
				font-size 40rpx
				font-weight 500
				color #fff
				border-radius 49rpx
				background: linear-gradient(to right, $deepThemeColor, $shallowThemeColor)
