// 深色
$deepThemeColor = #15AD69;
// 浅色
$shallowThemeColor = #84D157;

$blueColor = #39A6F8
// 文字主色
$fontColor = #2FB565
$newFontColor = #2A4F44
$fontColor3 = #33333D;
$fontColor6 = #66666D;
$fontColor9 = #99999D;
// 错误信息
$error = #FF563C;
//分割线
$slideBorderColor = #B0B0B0
// 分割填充色
$fillColor = #FAFAFA
// 文字渐变
gradualChange($direction, $startColor, $endColor)
	background: linear-gradient($direction, $startColor, $endColor);
	-webkit-background-clip: text;
	color: transparent;
// 适配
rpx2vmin($rpx)
	return ($rpx * 100 / 750)vmin


