@import "../../../style/base.styl";
@import "../../../style/my_animate.styl";
.equipment-cost
	min-height 100vh
	display flex
	flex-direction column
	background #F6F6F6
	padding-top 120rpx
	box-sizing border-box
	font-family PingFangSC-Semibold, PingFang SC
	font-weight 600
	.equipment-img
		text-align center
		image
			width 464rpx
	.instructions,
	.prompt
		color $fontColor6
		padding 90rpx 60rpx 0
		font-size 28rpx
		line-height 40rpx
	.prompt
		&::before
			content '*'
			color #F7B500
	.instructions
		padding-top 0
		text
			color #2FB565
	.line
		background #EBEBEB
		height 20rpx
		margin-top 114rpx
	// 高度填充
	.fill
		flex 1
	// 下一步
	.btn
		display flex
		align-items center
		justify-content center
		margin 20rpx 60rpx 80rpx
		height 98rpx
		font-size 40rpx
		font-weight 500
		color #fff
		border-radius 49rpx
		background: linear-gradient(to right , $deepThemeColor, $shallowThemeColor)
