@import "../../../style/base.styl";
page
	background #fff
	min-height 100vh
.service-card-voucher
	background: #fff
	min-height 100vh
	// 顶部tab切换
	.swiper-tab
		position fixed
		top 0
		left 0
		width 100%
		z-index 1
		text-align center
		line-height 92rpx
		display flex
		background #F9F9F9
		.tab-list
			flex 3
			font-size 32rpx
			color $fontColor3
		.tab-show
			color #2FB565
			font-weight 600
			text-decoration-line underline
	//通用券&抵扣券
	.list-box
		padding 122rpx 30rpx 0
	.list-item
		position relative
		display flex
		width 100%
		height 170rpx
		border-radius 20rpx
		background #2FB565
		padding-top 30rpx
		margin-bottom 20rpx
		// 卡券左边部分
		.list-item-left
			flex 2
			&>view
				width 80rpx
				height 80rpx
				background rgba(255,255,255,1)
				opacity 0.51
				border-radius 50%
				margin 0rpx 32rpx
				image
					width 80rpx
					height 80rpx
					border-radius 50%
		// 卡券右边部分
		.list-item-right
			flex 8
			font-weight 500
			font-size 24rpx
			line-height 40rpx
			color #fff
			.card-voucher-name
				font-size 40rpx
				line-height 56rpx
			.line
				background $fontColor3
				opacity .1
				height 2rpx
				margin 10rpx 0
			.date-right
				text-align right
				padding-right 30rpx
			.activate-now
				text-align right
				padding-right 30rpx
				&::after
					font-size 24rpx
					margin-left 14rpx
					display inline-block
					content '\e60e'
					transform scaleX(-1)
		// 卡券图标
		.list-item-bg
			position absolute
			right 22rpx
			top 20rpx
			color #fff
			&::after
				text-align right
				font-size 130rpx
		.used
			&::after
				content '\e653'
		.expired
			&::after
				content '\e654'
	//添加卡券
	.add-coupon
		position fixed
		bottom 14vh
		left 0
		z-index 1
		width 100%
		text-align right
		text
			display inline-block
			width 166rpx
			height 68rpx
			line-height 68rpx
			color #fff
			text-align center
			background linear-gradient(46deg,rgba(47,181,101,1) 0%,rgba(132,209,87,1) 100%)
			box-shadow 0px 4rpx 12rpx 0px rgba(68,106,83,0.5)
			border-radius 200rpx 0px 0px 200rpx
	.no-list
		position static
		height 34rpx
		line-height 34rpx
		padding-top 10rpx
	.no-fixed
		position static
	// 没有卡券
	.empty
		position fixed
		left 0
		right 0
		top 40%
		margin -120rpx auto 0
		text-align center
		color $fontColor6
		font-size 32rpx
		image
			width 192rpx
			height 242rpx
			margin-bottom 9.5vh
			margin-left -20rpx
		view
			line-height 44rpx
	// 弹出详情
	.mask
		position fixed
		left 0
		top 0
		right 0
		bottom 0
		z-index 1
		background: rgba(0, 0, 0, .6)
		// 添加卡券弹窗
		.cash-card-voucher
			position fixed
			left 0
			top 21.7%
			right 0
			width 73%
			z-index 2
			margin 0 auto
			box-sizing border-box
			padding 0 32rpx 0 46rpx
			background #fff
			border-radius 32rpx
			.conversion-code
				display flex
				width 100%
				height 40rpx
				line-height 40rpx
				background #EEEEEE
				border-radius 18rpx
				margin-bottom 30rpx
				padding 20rpx 0
				input
					flex 8
					height 40rpx
					line-height 40rpx
					margin-left 32rpx
				text.iconfont
					flex 2
					&::after
						content '\e63c'
						font-size 40rpx
						color #219E61
			.exchange
				height 82rpx
				line-height 82rpx
				text-align center
				color #15AD69
				font-size 32rpx
				border-top 2rpx solid #F6F6F6
		// 激活弹窗
		.activate
			input
				flex 4!important
			text
				flex 2
				text-align right
				color #219E61
				padding-right 20rpx
			.phone
				position absolute
				top 40rpx
		.successful
			position fixed
			left 0
			top 21.7%
			right 0
			width 73%
			z-index 3
			margin 0 auto
			box-sizing border-box
			padding 0 40rpx 0 36rpx
			background #fff
			border-radius 32rpx
			// 成功提示标题
			.successful-title
				position relative
				text-align center
				color $fontColor3
				font-size 36rpx
				line-height 50rpx
				font-weight 500
				.square
					text:first-child
						position absolute
						left 20%
						top 20%
						width 20rpx
						height 20rpx
						border 4rpx solid #FFAF9A
						transform rotateZ(60deg)
					text:nth-child(2),
					text:last-child
						position absolute
						left 30%
						top -30%
						width 14rpx
						height 14rpx
						border 4rpx solid #FFEC9A
						transform rotateZ(10deg)
					text:last-child
						position absolute
						left 80%
						top 70%
			// 卡券
			.list-item
				display flex
				width 100%
				height 110rpx
				padding-top 20rpx
				border-radius 14rpx
				margin-top 28rpx
				// 卡券左边部分
				.list-item-left
					flex 2
					&>view
						width 58rpx
						height 58rpx
						background rgba(255,255,255,1)
						opacity 0.18
						border-radius 50%
						image
							width 58rpx
							height 58rpx
							border-radius 50%
				// 卡券右边部分
				.list-item-right
					flex 8
					font-size 16.8rpx
					line-height 28rpx
					color #fff
					.card-voucher-name
						font-size 28rpx
						line-height 39rpx
					.line
						height 1rpx
						margin 4rpx 0
					.period-of-validity
						text-align right
						margin-right 22rpx
			// 放入卡包
			.go-package
				height 82rpx
				line-height 82rpx
				text-align center
				color #15AD69
				font-size 32rpx
				border-top 2rpx solid #F6F6F6
		.close
			display flex
			color $fontColor6
			font-size 16rpx
			padding 30rpx 0 50rpx
			&::after
				flex 1
				content '\e603'
				text-align right
