@import "../../../style/base.styl";
.signed_successfully
	display flex
	flex-direction column
	justify-content center
	background #FFFFFF
	min-height 100vh
	// 成功结果
	& > image
		display block
		margin 80rpx auto 0
		width 304rpx
		height 238rpx
	// 主标题
	.signed_title
		display flex
		align-items center
		justify-content center
		height 76rpx
		font-size 60rpx
		font-weight 500
	// 操作部分
	// 下一步
	.btn
		width: 590rpx;
		height: 110rpx;
		display flex
		align-items center
		justify-content center
		background: #5EBE68;
		font-size: 36rpx;
		font-family: PingFang SC-Semibold, PingFang SC;
		font-weight: 600;
		color: #FFFFFF;
		border-radius 55rpx
		margin auto
