@import "../../../style/base.styl";
.protocol
	padding 20rpx
	.h2
		display block
		font-size 32rpx
		color #4d4d4d
	.p
		display block
		text-align left
		font-size 24rpx
		color #4D4D4D
		line-height 40rpx
		text-indent 2em
	.weight
		font-weight bold
	.border
		border 1rpx solid #4D4D4D
	.line
		display inline-block
		width 200rpx
		border-bottom 1rpx solid #4D4D4D
	.not-indentation
		text-indent 0
