@charset "UTF-8"

// 以下配置用于stylus编译后不添加前缀 如@-moz-keyframes 小程序会报错
vendors = official
mixinsWidthHeight($width = 100%, $height = 100%)
    width $width
    height $height
mixinsPositionCard($position=relative,$left=0,$top=0)
    position $position
    left $left
    top $top
    transform translate(- $left,- $top)
flexCenter($align=normal, $justify=normal)
    display flex
    align-items $align
    justify-content $justify

.iconfont
    font-family 'iconfont' !important
    font-size 16px
    font-style normal
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
.index
    margin 0
    padding 0
    width 100vw
    min-height 100vh
    // overflow hidden
    background-color #fff
    &::after
        display block
        content ''
        mixinsWidthHeight(,260rpx)
.changeBg
    background-color #ECECEC
.index
    /* 顶部组件占位 */
    .topSplit
        mixinsWidthHeight(,60rpx)
    /* 公共模块 */
    .module
        width 694rpx
        border-radius 16rpx
        background-color #fff
        margin 32rpx 0 0 0
        font-family PingFangSC-Regular, PingFang SC
        mixinsPositionCard(,50%,)
        .titles
            height 48rpx
            font-size 32rpx
            font-weight 600
            color #000000
            line-height 48rpx
            padding-left 36rpx
            font-family PingFangSC-Semibold, PingFang SC
    .boxS
        box-shadow 0 4rpx 2rpx 0 rgba(212, 212, 212, 0.5)
    /* 模块一 */
    .moduleOne
        min-height 100rpx
        padding 40rpx 0 20rpx 0

        &.bg3
            background-color #ECECEC
        .photo-wrapper
            display flex
            height 330rpx
            justify-content space-between
            .photo
                mixinsWidthHeight(326rpx,330rpx)
                text-align center
                border-radius 16rpx
                background #F6F6F6
                .upload
                    mixinsWidthHeight(90%,192rpx)
                    overflow hidden
                    margin 22rpx 5%
                    border-radius 8rpx
                    background #FAFAFA
                    .img-box
                        mixinsWidthHeight()
                        position relative
                        .ico
                            mixinsWidthHeight(56rpx,49rpx)
                            mixinsPositionCard(absolute,50%,50%)
                    .success
                        mixinsWidthHeight()
                .changeThree
                    width 100%
                    margin 22rpx 0
                &:nth-of-type(1)
                    .upload
                        .img-box
                            background url('https://file.cyzl.com/g001/M01/CA/4F/oYYBAGP8tVuAGQNnAAANbmC6Sdo207.png') center no-repeat // file.cyzl.com/g001/M01/CA/4F/oYYBAGP8tVuAGQNnAAANbmC6Sdo207.png') center no-repeat
                            background-size 80% 80%
                &:nth-of-type(2)
                    .upload
                        .img-box
                            background url('https://file.cyzl.com/g001/M01/CA/4F/oYYBAGP8tYGAc0C7AAAL0oJkeVs625.png') center no-repeat // file.cyzl.com/g001/M01/CA/4F/oYYBAGP8tYGAc0C7AAAL0oJkeVs625.png') center no-repeat
                            background-size 80% 80%
                .cardText
                    margin-top 40rpx
            .changeTwo
                width 300rpx
                background-color #ffffff
        .changeOne
            margin 20rpx 36rpx 0 36rpx
        .titleBtn
            mixinsWidthHeight()
            flexCenter(center,space-between)
            .button1
                overflow hidden
                padding 0rpx 7rpx
                margin-right 36rpx
                border-radius 25rpx
                flexCenter(center,normal)
                
                mixinsWidthHeight(90rpx, 50rpx)
                .round
                    display block
                    border-radius 50%
                    mixinsWidthHeight(40rpx, 40rpx)
                    background-color #fff
                .is
                    animation silder 0.5s linear forwards
                    -webkit-animation silder 0.5s linear forwards
                .no
                    animation silder 0.5s linear forwards reverse
                    -webkit-animation silder 0.5s linear forwards reverse
                @keyframes silder {
                    from {
                        margin-left: 0rpx
                    }
                    to {
                        margin-left: 50rpx
                    }
                }
                @-webkit-keyframes silder {
                    from {
                        margin-left: 0rpx
                    }
                    to {
                        margin-left: 50rpx
                    }
                }
            .is1
                background-color rgba(15, 206, 102, 1)
            .no1
                background-color rgba(221, 223, 230, 1)
        .text1
            display block
            color #ccc
            font-size 24rpx
            padding 20rpx 36rpx
           
    /* 模块二 信息显示 */
    .moduleTwo
        padding 40rpx 0 20rpx 0
        .keyValue
            height 66rpx
            display flex
            margin-bottom 28rpx
            align-items center
            font-family PingFangSC-Regular, PingFang SC
            .attrName
                width 124rpx
                font-size 28rpx
                font-weight 400
                color #1E1E1E
                margin-left 36rpx
            .attrValue
                mixinsWidthHeight(508rpx,64rpx)
                display flex
                align-items center
                border-bottom 2rpx solid #E0E0E0
                .input
                    width 100%
                    padding-left 24rpx
                    font-size 28Rpx
                    font-weight 600
                    color #262626
                    opacity 0.9
                    font-family PingFangSC-Semibold, PingFang SC
                .input-placeholder
                    color rgba(212, 212, 212, 0.7)
    .module3
        height 80rpx
        background-color #ccc
        
    
    /* 底部悬浮按钮 */
    .bottomBtn
        display flex
        mixinsWidthHeight(750rpx,244rpx)
        align-items center
        background #FFFFFF
        justify-content center
        box-shadow 0 -8rpx 30rpx 0 rgba(223, 223, 223, 0.36)
        border-radius 16rpx 16rpx 0 0
        position fixed
        bottom 0
        .btnClose
            mixinsWidthHeight(662rpx,110rpx)
            font-size 36rpx
            font-weight 600
            color #FFFFFF
            text-align center
            line-height 110rpx
            border-radius 64rpx
            background #C0C0C0
            font-family PingFangSC-Semibold, PingFang SC
            box-shadow 0 -8rpx 30rpx 0 rgba(223, 223, 223, 0.36), 0 4rpx 2rpx 0 rgba(212, 212, 212, 0.5)
        .available
            background: #2A4F44;
            animation btnFadeIn 0.3s
            animation-fill-mode forwards
        .unavailable
            animation btnFadeOut 0.3s
            animation-fill-mode forwards
