@import "../../../style/base.styl";
@import "../../../style/my_animate.styl";
.page
	min-height 100vh
	display flex
	flex-direction column
	background #F6F6F6
	// 标题
	.title
		display flex
		align-items center
		padding 40rpx 30rpx 0
		height 56rpx
		font-size 40rpx
		font-weight 500
		&::before
			margin-right 10rpx
			content ''
			width 10rpx
			height 10rpx
			border 6rpx solid $fontColor
			border-radius 50%
	.sub-title
		font-size 24rpx
		color $fontColor6
		line-height 40rpx
		padding 10rpx 0 20rpx 80rpx
	// 上传身份证
	.photo-wrapper
		display flex
		justify-content space-between
		padding 14rpx 80rpx 116rpx 60rpx
		& > view:first-child
			margin-right 30rpx
		.photo
			position relative
			overflow hidden
			width 290rpx
			height 230rpx
			border 4rpx dashed rgba(39, 178, 102, .53)
			border-radius 20rpx
			text-align center
			.not-upload
				padding 30rpx 0
				font-size 28rpx
				font-family PingFangSC-Regular, PingFang SC
				font-weight 400
				color $fontColor3
				line-height 40px
				.img-box
					height 98rpx
					position relative
					.img
						width 162rpx
						height 98rpx
					.ico
						position absolute
						left 0
						right 0
						top 0
						bottom 0
						margin auto
						width 43rpx
						height 36rpx
			.identify
				position absolute
				z-index 1
				top 0
				left 0
				width 100%
				height 100%
				background rgba(47, 181, 101, .64)
				font-size 24rpx
				color #fff
				image
					width 50rpx
					height 50rpx
					margin 70rpx 0 8rpx
			.success
				width 100%
				height 100%
			&.not-border
				border 0
	// 身份证号码&名字输入
	.input-wrapper
		margin 32rpx
		.input-item
			position relative
			display flex
			align-items center
			height 88rpx
			color $fontColor9
			font-size 28rpx
			padding 30rpx 0rpx 10rpx 0rpx
			box-sizing border-box
			border-bottom solid 2rpx rgba(230,230,230,.3)
			& > view
				display flex
				flex 0 0 148rpx
			& > input
				flex 1
				z-index 0 !important
				text-align left
				font-size 28rpx
				color #333
			// 获取验证码
			.validate-code
				display flex
				text-align right
				justify-content center
				padding-left 32rpx
				height 44rpx
				font-size 28rpx
				color $fontColor9
				border-left 1rpx solid #D8D8D8
				box-sizing border-box
				&.ok
					font-weight 500
					color $fontColor
				&.acquisition
					color $fontColor
					font-weight 400!important
		.input-bottom
			padding-bottom 30rpx
			input
				text-align left
	// 高度填充
	.fill
		flex 1
	// 下一步
	.btn
		display flex
		align-items center
		justify-content center
		margin 20rpx 60rpx 40rpx
		height 98rpx
		font-size 40rpx
		font-weight 500
		color #fff
		border-radius 49rpx
		background: linear-gradient(to right , $deepThemeColor, $shallowThemeColor)
		&.available
			animation btnFadeIn .3s
			animation-fill-mode forwards
		&.unavailable
			animation btnFadeOut .3s
			animation-fill-mode forwards
