//@import "/animate.styl";
@font-face {
	font-family: 'iconfont';  /* project id 1514406 */
	src: url('//at.alicdn.com/t/font_1514406_rx3tpwk54p.eot');  src: url('//at.alicdn.com/t/font_1514406_rx3tpwk54p.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1514406_rx3tpwk54p.woff2') format('woff2'), url('//at.alicdn.com/t/font_1514406_rx3tpwk54p.woff') format('woff'), url('//at.alicdn.com/t/font_1514406_rx3tpwk54p.ttf') format('truetype'), url('//at.alicdn.com/t/font_1514406_rx3tpwk54p.svg#iconfont') format('svg');
}
.page
	width 100vw
	height 100vh
	overflow-x hidden
	overflow-y auto
	-webkit-overflow-scrolling touch
	background-color #F8393B
	.banner-container
		position relative
		width 100vw
		padding-top 68rpx
		.top-div
			position absolute
			top 0
			left 0
			height 68rpx
			width 100vw
			background-color #FFAB66
		.banner-container
			width 100vw
			height 848rpx
			background-image url("https://file.cyzl.com/g001/M05/1E/CF/oYYBAF7diKGALTmuAB7mdKz91Kk894.png")
			background-size 100% 100%
			background-color #FFAB66
		.title-container
			display flex
			justify-content center
			align-items center
			position absolute
			width 100vw
			top 302rpx
			left 0
			.char
				padding 0 20rpx
				font-size 36rpx
				color #fff
			.line-dot-left
				display flex
				justify-content flex-end
				align-items center
				.dot
					width 10rpx
					height 10rpx
					border-radius 50%
					background-color #fff
				.line
					margin-right 10rpx
					width 200rpx
					height 2rpx
					background:linear-gradient(-90deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
			.line-dot-right
				display flex
				justify-content flex-start
				align-items center
				.line
					width 200rpx
					height 2rpx
					background:linear-gradient(90deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
				.dot
					margin-right 10rpx
					width 10rpx
					height 10rpx
					border-radius 50%
					background-color #fff
		.btn-container
			position absolute
			left 0
			top 710rpx
			width 100vw
			display flex
			justify-content center
			align-items center
			.btn
				display flex
				justify-content center
				align-items center
				width 550rpx
				font-size 36rpx
				color #fff
				height 90rpx
				background:linear-gradient(180deg,rgba(255,215,72,1) 0%,rgba(248,107,40,1) 100%)
				border-radius 45rpx
				&.gray-btn
					color  rgba(255,255,255,0.7)
					background  none
					background-color rgba(204, 204, 204, 0.8)
	.wen-an-container
		position relative
		top -60rpx
		width 90%
		background-color #F8393B
		margin 0 auto
		.item
			clear both
			width 696rpx
			padding 45rpx 43rpx 30rpx 43rpx
			margin-bottom 20rpx
			background-color rgba(255,255,255,0.15)
			border-radius 10rpx
			box-sizing border-box
			.white-title-container
				display flex
				justify-content center
				align-items center
				width 100%
				left 0
				.char
					position relative
					top -2rpx
					padding 0 15rpx
					font-size 32rpx
					color #fff
				.dot-left
					display flex
					justify-content flex-end
					align-items center
					.dot-item
						display flex
						flex-direction column
						padding-right 15rpx
						.dot
							height 10rpx
							width 10rpx
							border-radius 50%
							&:nth-child(1)
								margin-bottom 5rpx
						&:nth-child(1)
							.dot
								background-color rgba(255,255,255,0.2)
						&:nth-child(2)
							.dot
								background-color rgba(255,255,255,0.4)
						&:nth-child(3)
							.dot
								background-color rgba(255,255,255,0.8)
				.dot-right
					display flex
					justify-content flex-start
					align-items center
					.dot-item
						display flex
						flex-direction column
						padding-right 15rpx
						.dot
							height 10rpx
							width 10rpx
							border-radius 50%
							&:nth-child(1)
								margin-bottom 5rpx
						&:nth-child(1)
							.dot
								background-color rgba(255,255,255,0.8)
						&:nth-child(2)
							.dot
								background-color rgba(255,255,255,0.4)
						&:nth-child(3)
							.dot
								background-color rgba(255,255,255,0.2)
			.char
				font-size 28rpx
				line-height 40rpx
				color rgba(255,255,255,0.6)
				padding-top 23rpx
				text-align justify
.alert-mask
	position fixed
	left 0
	top 0
	right 0
	bottom 0
	background rgba(0, 0, 0, 0.3)
	z-index 3
	overflow-x hidden
	overflow-y auto
	-webkit-overflow-scrolling touch
	.wrapper
		position absolute
		width 624rpx
		height 668rpx
		text-align center
		background-image url("https://file.cyzl.com/g001/M05/1E/FE/oYYBAF7dqwmAarBJAALIBDUZTDQ944.png")
		background-size 100%
		top 0
		bottom 0
		left 0
		right 0
		margin auto
		.success
			text-align center
			padding-top 60rpx
			image
				width 78rpx
		.success-prompt
			text-align center
			padding-top 16rpx
			font-size 28rpx
			font-family PingFangSC-Regular,PingFang SC
			font-weight 400
			color rgba(102,102,102,1)
			line-height 40rpx
		.coupon-details
			width 482rpx
			height 100rpx
			padding 30rpx 0
			background rgba(255,251,236,1)
			border-radius 10rpx
			border 1rpx solid rgba(253,189,66,0.5)
			margin 35rpx auto 0
			& > view
				display inline-block
				height 100rpx
			& > view:first-child
				width 129rpx
				color #FF0000
				font-size 70rpx
				border-right 2rpx solid #F7A1A0
				sup
					display inline-block
					padding-top 14rpx
					font-size 34rpx
					vertical-align top
			& > view:last-child
				padding-left 20rpx
				color rgba(239,71,86,0.6)
				font-size 24rpx
				line-height 33rpx
				vertical-align middle
				& > view:first-child
					font-size 36rpx
					color #EF4756
					font-weight 500
				& > view:last-child
					padding-top 10rpx
		.close
			width 100%
			text-align center
			margin-top 131rpx
			button
				width 400rpx
				height 90rpx
				background linear-gradient(180deg,rgba(255,215,72,1) 0%,rgba(248,78,40,1) 100%)
				border-radius 45rpx
				font-size 36rpx
				font-family PingFangSC-Regular,PingFang SC
				font-weight 400
				color rgba(255,255,255,1)
				line-height 90rpx
				text-shadow 0rpx 2rpx 4rpx rgba(170,36,0,1)
.aaaa
	width 80%
	height 200rpx
	word-break:break-all
