.iconfont
    font-family 'iconfont' !important
    font-size 16px
    font-style normal
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
.index
    margin 0
    padding 0
    width 100vw
    height 100vh
    overflow hidden
    background-color #ECECEC
    /* 顶部占位 */
    .split
        width 100%
        height 0
        overflow hidden
    /* 公共模块 */
    .module
        width 658rpx
        margin-top 28rpx
        border-radius 16rpx
        background-color #fff
        padding 28rpx 0 28rpx 36rpx
        font-family PingFangSC-Regular, PingFang SC
        box-shadow 0 4rpx 2rpx 0 rgba(212, 212, 212, 0.5)
        position relative
        left 50%
        transform translateX(-50%)
        .title
            font-size 32rpx
            font-weight 600
            color #1E1E1E
            font-family PingFangSC-Semibold, PingFang SC
        .iconNameSpot
            display flex
            height 68rpx
            align-items center
            margin-bottom 24rpx
            justify-content space-between
            border-bottom 2rpx solid #e7e7e7
            .icon
                width 42rpx
                height 42rpx
                display flex
                overflow hidden
                align-items center
                justify-content center
            .explain
                &::before
                    display block
                    content '\e650'
                    opacity 0.8
            .toll
                &::before
                    display block
                    content '\e6a5'
                    opacity 0.8
            .handlingFee
                &::before
                    display block
                    content '\e6a5'
                    opacity 0.8
            .name
                width 580rpx
                height 68rpx
                font-size 24rpx
                font-weight 400
                color #1E1E1E
                margin-left 14rpx
                line-height 68rpx
                font-family PingFangSC-Regular, PingFang SC
            .spot
                width 20rpx
                height 20rpx
                margin-right 36rpx
                border-radius 50%