//车主身份验证弹框
.verify_mask
	position fixed
	left 0
	top 0
	right 0
	bottom 0
	background rgba(76, 76, 76, 0.8)
	z-index 800
	.verify_wrapper
		display flex
		flex-direction column
		position absolute
		left 56rpx
		right 56rpx
		top 45%
		transform translate(0, -50%)
		background: #FFFFFF;
		border-radius 16px;
		z-index 26999
	.s9901
		border-radius: 0;
		.authentication-title
			margin-top 64rpx
			font-size: 34rpx;
			font-family: PingFangSC-Medium, PingFang SC;
			font-weight: 500;
			color: #000000;
			line-height: 48rpx;
			text-align center
		.weight
			font-weight: 650
		// 输入开始
		.input-wrapper
			padding 0 32rpx
			.centerText
				justify-content center
			.input-item
				display flex
				padding 32rpx 0rpx 10rpx
				font-size 28rpx
				border-bottom 1rpx solid #F4F4F4
				&:last-of-type
					padding-top 46rpx
				& > view
					text-align left
					width 144rpx
					color rgba(0, 0, 0, 0.5);
					box-sizing border-box
				& > input
					flex 1
					text-align left
				.s9901
					font-weight: 500
					color: black
				// 获取验证码
				.validate-code
					flex 0 0 216rpx
					width 216rpx
					display flex
					align-items center
					justify-content center
					padding-left 50rpx
					height 44rpx
					color #99999D
					box-sizing border-box
					&.ok
						font-weight 500
						color #2FB565
					&.acquisition
						color #2FB565
						font-weight 400!important
		.code-img
			width 314rpx;
			height 314rpx;
			background: #E7E7E7;
			border-radius: 2rpx;
			margin 0 auto 64rpx
			& > image
				margin 42rpx
				width 230rpx
				height 230rpx
		.authentication-tips
			text-align center
			margin 32rpx
			font-size: 28rpx;
			font-family: PingFangSC-Medium, PingFang SC;
			font-weight: 400;
			color #FFC000
			line-height: 40rpx;
		.verify-button
			display flex
			justify-content center
			text-align center
			margin 46rpx
			& > button
				width: 240rpx;
				height: 82rpx;
				text-align center
				font-size 28rpx;
				font-family: PingFangSC-Medium, PingFang SC;
				font-weight: 400;
				color: #fff;
				border-radius: 8rpx;
				line-height 82rpx;
				background #00B85C	
			.buttonBlue
				background rgb(78, 149, 216)
				border-radius: 40rpx
				&.available
					opacity 1
		
