@import "animate.styl";
//字体图标
@import "../../fonts/iconfont.styl";
.iconfont {
	font-family:"iconfont" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.alert-for-not-finished
	position: fixed
	left: 0
	right: 0
	top: 0
	bottom: 0
	background: rgba(0, 0, 0, 0.6)
	z-index: 10000
.alert-for-not-finished-content
	position absolute
	left 0
	right 0
	top 50%
	transform translate(0, -50%)
	width 600rpx
	height 850rpx
	background rgba(255,255,255,1)
	box-shadow 4rpx 12rpx 56rpx 0px rgba(102,102,109,0.19)
	border-radius 16rpx
	margin 0 auto
	z-index 100002
	
