.content
	display flex
	flex-direction column
	align-items center
	height 100vh
	padding 0 70rpx
	background-color #fff
	.img
		margin-top 22rpx
		width 304rpx
		height 238rpx
	.status-text
		margin-top 18rpx
		font-size: 44rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #000000;
	.btn
		width 100%
		display flex
		align-items center
		justify-content center
		margin 204rpx 0rpx 0
		height 98rpx
		font-size: 34rpx;
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: 500;
		color: #FFFFFF;
		border-radius 49rpx
		background: linear-gradient(45deg, #00AF62 0%, #68D33F 100%);
