.navbar
	width 100%
	//设置导航栏固定在顶部
	position fixed
	top 0
	z-index 99
	.arrow-content
		position absolute
		left 40rpx
		z-index 999
		display flex
		align-items center
		.arrow
			width 20rpx
			height 20rpx
			border 5rpx solid #000000
			border-right-color transparent
			border-bottom-color transparent
			transform rotate(-45deg)
	.text
		position absolute
		left 0
		right 0
		font-size 28rpx
		color #000000
		display flex
		align-items center
		justify-content center

