@import "../../../style/base.styl";
.service_card_voucher_details
	min-height 100vh
	box-sizing border-box
	padding 42rpx 30rpx 20rpx
	background #fff
	//卡券
	.ticket-card
		background #fff
		padding 42rpx 28rpx 0rpx
		margin-bottom 20rpx
		border-radius 20rpx
		// 卡券顶部
		.ticket-top
			position relative
			text-align center
			color $fontColor6
			font-size 28rpx
			line-height 40rpx
			font-weight 500
			.card-voucher-name
				font-size 48rpx
				line-height 64rpx
				color $fontColor3
				margin 50rpx 0 10rpx
			.period-of-validity
				font-weight 400
				opacity .85
				margin 40rpx 0 90rpx
			.ticket-status
				position absolute
				right 0rpx
				top 20rpx
				color $fontColor9
				&::after
					text-align right
					font-size 140rpx
			.ticket-status-used
				&::after
					content '\e653'
			.ticket-status-overdue
				&::after
					content '\e654'
		// 卡券底部
		.ticket-bottom
			.ticket-bottom-item
				padding 28rpx 0 30rpx
				border-top 2rpx dashed #EBEBED
				.entry
					display flex
					font-size 28rpx
					color $fontColor6
					line-height 40rpx
					&>view:first-child
						flex 4
						text-indent 12rpx
					&>view:last-child
						flex 6
						text-align right
					&>view:nth-child(2)
						margin-bottom 20rpx
				.instructions
					font-size 32rpx
					color $fontColor3
					.elaborate
						flex 0
					.elaborate::after
						flex 0
						display inline-block
						text-align right
						content '\e652'
						font-size 24rpx
						color $fontColor9
						transition all .3s
						transform: rotate(0deg)
				.show-elaborate
					.elaborate::after
						transition all .3s
						transform: rotate(180deg)
			.remark
				padding 28rpx 0 30rpx
				border-top 2rpx dashed #EBEBED
				color $fontColor9
	//卡券使用记录
	.use-record-box
		background #fff
		padding 60rpx 34rpx 26rpx
		border-radius 20rpx
		//使用记录列表
		.order-list
			.order-list-title
				font-size 36rpx
				color $fontColor3
				line-height 50rpx
				padding-left 34rpx
			.order-list-content
				padding 0 24rpx
				height 184rpx
				background #fff
				box-shadow 4rpx 4rpx 46rpx 0px rgba(126,132,156,0.1)
				border-radius 34rpx
				margin-top 20rpx
				.order-list-top
					display flex
					height 90rpx
					line-height 90rpx
					border-bottom 1rpx solid #F1F1F1
					padding-right 15rpx
					.license-plate
						flex 5
						font-size 40rpx
						font-weight 500
						color $fontColor3
					.time
						flex 5
						font-size 24rpx
						color $fontColor9
						text-align right
					.buckling-failure
						font-size 28rpx
						color #FF0000
				.order-list-bottom
					display flex
					align-items center
					height 92rpx
					line-height 92rpx
					font-size 28rpx
					color $fontColor9
					padding-right 15rpx
					.start,
					.end
						flex 3.8
						display flex
						align-items center
						height 92rpx
						line-height 92rpx
						&::before
							display flex
							align-items center
							justify-content center
							width 28rpx
							height 28rpx
							font-size 20rpx
							color #fff
							border-radius 28rpx
							background #FFAF9A
							content '上'
							margin-right 10rpx
					.end
						&::before
							content '下'
							background #8CD5B5
					.money
						flex 3
						font-size 48rpx
						color #2FB565
						text-align right
