@import "../../../style/base.styl";
.buy_success
	display flex
	flex-direction column
	background #FFFFFF
	padding 0 32rpx
	box-sizing border-box
	text-align center
	min-height 100vh
	// 成功结果
	& > image
		display block
		margin 80rpx auto 0
		width 304rpx
		height 238rpx
	// 主标题
	.signed_title
		display flex
		align-items center
		justify-content center
		height 76rpx
		color rgba(0, 0, 0, .9)
		font-size 44rpx
		font-weight 500
	// 下一步
	.btn
		display flex
		align-items center
		justify-content center
		margin 120rpx 40rpx 48rpx
		height 98rpx
		font-size 34rpx
		font-family PingFangSC-Medium, PingFang SC
		font-weight 500
		color #00B85C
		border-radius 49rpx
		border 1rpx solid #00B85C
