@import "../../../style/base.styl";
.my-etc
	min-height 100vh
	display flex
	flex-direction column
	.item
		margin 0 34rpx
		margin-top 20rpx
		padding 0 24rpx
		height 220rpx
		box-shadow 4rpx 4rpx 46rpx 0 rgba(126,132,156,0.1)
		border-radius 32rpx
		&:first-of-type
			margin-top 48rpx
		&:last-of-type
			margin-bottom 20rpx
		// 顶部开始
		.top
			display flex
			height 122rpx
			padding-top 24rpx
			border-bottom 1rpx solid #F2F2F2
			box-sizing border-box
			.left
				flex 1
				padding-left 6rpx
				.car-no
					display flex
					align-items center
					height 56rpx
					font-size 40rpx
					font-weight 500
				.channel
					margin-top -4rpx
					display flex
					align-items center
					margin-bottom 10rpx
					font-size 24rpx
					color $fontColor9
			.right
				margin-top 8rpx
				padding-right 12rpx
				font-size 28rpx
				&.caution
					color #F7B500
				&.failed
					color $error
				&.succeed
					color $fontColor
		// 顶部结束
		.bottom
			display flex
			padding-top 24rpx
			padding-bottom 28rpx
			& > view
				display flex
				height 44rpx
				color $fontColor9
				&:first-of-type
					flex 1
				&.iconfont
					display flex
					align-items center
					padding-right 12rpx
					&::after
						content '\e60e'
						font-size 32rpx
						transform rotateZ(-180deg)
	.auto-fill
		flex 1
	// 新增办理开始
	.btn
		display flex
		align-items center
		justify-content center
		margin 26rpx 60rpx 40rpx
		height 98rpx
		font-size 40rpx
		font-weight 500
		color #fff
		background: linear-gradient(to right, $deepThemeColor, $shallowThemeColor)
		border-radius 49rpx
