@import "../../../style/base.styl";
@import "../../../style/my_animate.styl";
.order-detail
	display flex
	flex-direction column
	// 标题
	.title
		margin-top 40rpx
		display flex
		align-items center
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: 500;
		padding 0 32rpx
		height 56rpx
		font-size 34rpx
		&::before
			margin-right 10rpx
			content ''
			width 8rpx
			height 44rpx
			background #00B85C
	.vehicle
		display flex
		align-items center
		padding 0 56rpx
		height 56rpx
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: 500;
		font-size 34rpx
	.tips
		display flex
		margin 24rpx 32rpx
		font-size 24rpx
		color rgba(0,0,0,0.3)
		& > text
			&:last-of-type
				color rgba(0,184,92,0.3)
	.code-no-wrapper
		margin-top 21rpx
		display flex
		align-items center
		padding 0 32rpx
		& > view
			margin-right 12rpx
			flex 0 0 72rpx
			width 72rpx
			&:last-of-type
				margin-right 0
			&.selected
				& > view:last-of-type
					&::before
						left 0
						right 0
						width 100%
						background: linear-gradient(to right, #00B85C, #68D33F)
						transition all .5s ease-in-out
						border-radius 8rpx
			& > view
				&:first-of-type
					display flex
					align-items center
					justify-content center
					height 84rpx
					font-size 60rpx
				&:last-of-type
					position relative
					height 4rpx
					background #99999D
					border-radius 8rpx
					&::before
						content ''
						display block
						position absolute
						width 0
						top 0
						bottom 0
						left 50%
						right 50%
			&.unselected
				margin-right 0
				flex 0 0 60rpx
				width 60rpx
				transform translateY(18rpx)
				& > view
					&:first-of-type
						height 66rpx
						color #F5C065
						border 2rpx dotted #F5C065
						border-radius 8rpx
						&.iconfont
							&::before
								display block
								font-size 24rpx
								content '\e63d'
								font-weight bold
								transform rotateZ(45deg)
					&:last-of-type
						position relative
						text-align center
						height auto
						font-size 16rpx
						color $fontColor
						background: rgba(0,0,0,0)
						transform translateY(18rpx)
		.validate-code
			width 150rpx
			margin-left 30rpx
			display flex
			align-items center
			justify-content flex-end
			height 44rpx
			font-size 28rpx
			color $fontColor9
			box-sizing border-box
			&.ok
				font-weight 400
				color $fontColor
			&.acquisition
				color $fontColor
				font-weight 400!important
	.btn
		display flex
		align-items center
		justify-content center
		margin 104rpx 70rpx 64rpx 70rpx
		height 98rpx
		font-size 40rpx
		font-weight 500
		color #fff
		border-radius 49rpx
		background: linear-gradient(to right , $deepThemeColor, $shallowThemeColor)
		&.available
			animation btnFadeIn .3s
			animation-fill-mode forwards
		&.unavailable
			animation btnFadeOut .3s
			animation-fill-mode forwards
	.empty
		width 100%
		height: 20rpx;
		background: #FAFAFA;
