@charset "UTF-8"

// 以下配置用于stylus编译后不添加前缀 如@-moz-keyframes 小程序会报错
vendors = official
/*动画*/
// 加载中 - 全局调用放在 style目录 animate.styl
@keyframes btn-rotate {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -444px 0;
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(359deg);
	}
}

@keyframes dot
	25% { box-shadow: none; }                                  /* 0个点 */
	50% { box-shadow: 2px 0 currentColor; }                    /* 1个点 */
	75% { box-shadow: 2px 0 currentColor, 6px 0 currentColor;  /* 2个点 */ }

@keyframes progressAnimation {
	0% {
		width: 0%;
		background-color: #00B85C;
	}
	100% {
		width: 100%;
		background-color: #00B85C;
	}
}
