@import "../../../style/base.styl";
.my-etc-detail
	display flex
	min-height 97vh
	flex-direction column
	// 设备图开始
	& > image
		margin 60rpx auto 0
		width 322rpx
		height 224rpx
	// 分割线
	.border
		margin-top 6rpx
		margin-bottom 15rpx
		border-bottom: 2rpx dashed #fff
		background: linear-gradient(to right, #fff, #9F9FA3,#fff)
		background-origin border-box
	// 信息显示开始
	.item
		display flex
		align-items center
		padding 0 60rpx
		height 70rpx
		&.first
			margin-top 15rpx
		& > view
			&:first-of-type
				flex 1
				color $fontColor6
			&.caution
				color #F7B500
			&.failed
				color $error
			&.succeed
				color $fontColor
		&.iconfont
			display flex
			align-items center
			&::after
				content '\e60e'
				transform rotateZ(-180deg)
	// 失败说明
	.des
		display flex
		padding 0 11rpx
		align-items center
		margin 0 60rpx
		//height 100rpx
		line-height 40rpx
		background: #F5F5F5
		border-radius 10rpx
		font-size 24rpx
		color $error
	.split
		margin-top 10rpx
		height 20rpx
		background: #F7F7F7
	.auto-fill
		flex 1
	// 按钮开始
	.btns
		margin 51rpx 60rpx 0
		height 166rpx
		box-sizing border-box
		.btn
			display flex
			align-items center
			justify-content center
			height 98rpx
			font-size 40rpx
			font-weight 500
			color #fff
			border-radius 49rpx
			background: linear-gradient(to right, $deepThemeColor, $shallowThemeColor)
		.btn-wrapper
			display flex
			& > view
				padding-top 28rpx
				padding-bottom 34rpx
				flex 1
				text-align center
				font-size 32rpx
				color #0091FF
	//去车主服务弹窗
	.owner-service-mask
		position fixed
		left 0
		top 0
		right 0
		bottom 0
		background rgba(0, 0, 0, .7)
		.owner-service-wrapper
			position absolute
			left 0
			right 0
			top 50%
			transform translate(0, -50%)
			width 70%
			min-height 200rpx
			margin 0 auto
			z-index 2
		.owner-service-box
			position absolute
			height 290rpx
			bottom 0
			left 0
			right 0
			margin auto
			z-index 2
			color $fontColor3
			background #fff
			border-radius 20rpx
			&>view
				text-indent 20rpx
				line-height 30rpx
			&>view:first-child
				padding 40rpx 0 20rpx
			&>view.owner-service-button
				text-indent 0
				text-align center
				height 90rpx
				line-height 90rpx
				margin-top 30rpx
				border-top 1rpx solid $fontColor6
				text
					display inline-block
					width 50%
					&:last-child
						color #2fb565

