@import "../../../style/base.styl";
.signed_successfully
	// 成功结果
	text-align center
	.iconfont
		padding 90rpx 0 64rpx
		&::before
			display block
			font-size 180rpx
			content '\e630'
			color #16AD69
	.success
		font-size 40rpx
		font-family PingFangSC-Medium, PingFang SC
		font-weight 500
		color #000000
		line-height 57rpx
		padding-bottom 14rpx
	.close
		font-size 29rpx
		font-family PingFangSC-Regular, PingFang SC
		font-weight 400
		color #999999
		line-height 40rpx
