@font-face {
	font-family: 'iconfont';  /* project id 1514406 */
	src: url('//at.alicdn.com/t/font_1514406_nq4mq0d1dmc.eot');
	src: url('//at.alicdn.com/t/font_1514406_nq4mq0d1dmc.eot?#iefix') format('embedded-opentype'),
		url('//at.alicdn.com/t/font_1514406_nq4mq0d1dmc.woff2') format('woff2'),
		url('//at.alicdn.com/t/font_1514406_nq4mq0d1dmc.woff') format('woff'),
		url('//at.alicdn.com/t/font_1514406_nq4mq0d1dmc.ttf') format('truetype'),
		url('//at.alicdn.com/t/font_1514406_nq4mq0d1dmc.svg#iconfont') format('svg');
}
