@font-face {
	font-family: 'iconfont'; /* Project id 1514406 */
	src: url('//at.alicdn.com/t/c/font_1514406_xegvgy9twos.woff2?t=1675854177437') format('woff2'), url('//at.alicdn.com/t/c/font_1514406_xegvgy9twos.woff?t=1675854177437') format('woff'), url('//at.alicdn.com/t/c/font_1514406_xegvgy9twos.ttf?t=1675854177437') format('truetype');
}
