@font-face {
	font-family: 'iconfont';  /* project id 1514406 */
	src: url('//at.alicdn.com/t/font_1514406_cxpopl4rc9.eot');
	src: url('//at.alicdn.com/t/font_1514406_cxpopl4rc9.eot?#iefix') format('embedded-opentype'),
		url('//at.alicdn.com/t/font_1514406_cxpopl4rc9.woff2') format('woff2'),
		url('//at.alicdn.com/t/font_1514406_cxpopl4rc9.woff') format('woff'),
		url('//at.alicdn.com/t/font_1514406_cxpopl4rc9.ttf') format('truetype'),
		url('//at.alicdn.com/t/font_1514406_cxpopl4rc9.svg#iconfont') format('svg');
}
