@import "../../../style/base.styl";
.container
	// 下一步
	.btn
		display flex
		align-items center
		justify-content center
		margin 136rpx 0rpx 48rpx
		height 98rpx
		font-size 40rpx
		font-weight 500
		color #fff
		border-radius 49rpx
		background: linear-gradient(to right , $deepThemeColor, $shallowThemeColor)
		&.available
			animation btnFadeIn .3s
			animation-fill-mode forwards
		&.unavailable
			animation btnFadeOut .3s
			animation-fill-mode forwards
