@import "../../../style/base.styl";
.container
	.topIcon
		height 300rpx
		display flex
		justify-content center
		align-items center
		padding-top 50rpx
		image
			width 60%
	.text
		margin 28rpx
		color #585555
		text-align center
	// 下一步
	.btn
		display flex
		align-items center
		justify-content center
		margin 80rpx 28rpx 0
		height 98rpx
		font-size 40rpx
		font-weight 500
		color #fff
		border-radius 49rpx
		background: linear-gradient(to right , $deepThemeColor, $shallowThemeColor)
		&.available
			animation btnFadeIn .3s
			animation-fill-mode forwards
		&.unavailable
			animation btnFadeOut .3s
			animation-fill-mode forwards
