@import "../../../style/base.styl";
@import "../../../style/my_animate.styl";
.margin-payment
	display flex
	min-height 100vh
	flex-direction column
	overflow hidden
	// 设备图开始
	& > image
		margin 68rpx auto 90rpx
		width 402rpx
	.prompt
		padding 0 66rpx 0 60rpx
		font-size 36rpx
		font-family PingFangSC-Medium, PingFang SC
		font-weight 500
		color $fontColor3
		line-height 50rpx
		text-align center
	// 高度填充
	.fill
		flex 1
	// 下一步
	.btn
		bottom 96rpx
		display flex
		align-items center
		justify-content center
		margin 20rpx 60rpx 96rpx
		height 98rpx
		font-size 40rpx
		font-weight 500
		color #fff
		border-radius 49rpx
		background: linear-gradient(to right , $deepThemeColor, $shallowThemeColor)
