@import "../../style/base.styl";
@import "../../style/animate.styl";
//字体图标
@import "../../fonts/iconfont.styl";
.iconfont {
	font-family:"iconfont" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.related-service
	position fixed
	left 0
	right 0
	top 0
	bottom 0
	background: rgba(0,0,0, .5)
	z-index 9999999999999
	// 支付方式
	.related-service-wrapper
		position fixed
		left 0
		right 0
		bottom 0
		display flex
		flex-direction column
		//min-height 768rpx
		height 1040rpx
		padding-bottom 20rpx
		background: #fff
		border-top-left-radius 32rpx
		border-top-right-radius 32rpx
		// 标题
		.related-service-title
			margin-top 44rpx
			display flex
			align-items center
			justify-content center
			height 96rpx
			font-size 30rpx
			font-weight 500
			position relative
			color rgba(0, 0, 0, 0.9)
			font-family PingFangSC-Medium, PingFang SC
			.close
				position absolute
				left 0rpx
				top 0
				padding 30rpx 40rpx 30rpx 30rpx
				&::after
					display block
					text-align left
					content '\e60e'
					font-size 40rpx
		.related-service-list
			padding-top 44rpx
			padding-left 32rpx
			.related-service-item
				padding-top 50rpx
				padding-bottom 50rpx
				padding-right 90rpx
				border-bottom 1rpx solid rgba(0, 0, 0, 0.1)
				.title
					display flex
					height 48rpx
					align-items top
					.logo
						width 62rpx
						text-align center
						margin-right 10rpx
						&::after
							display block
							text-align left
							font-size 48rpx
						&.service_of_driving_risk
							&::after
								content '\e693'
								color #F7B500
						&.service_of_security
							&::after
								content '\e692'
								color #87BAEA
						&.service_of_illegal
							&::after
								content '\e691'
								color #6467F0
						image
							height 48rpx
				.content
					padding-left 72rpx
		// 高度填充
		.fill
			flex 1
		.btns
			width 368rpx
			height 80rpx
			display flex
			align-items center
			justify-content center
			background #F2F2F2
			color #07C160
			font-weight 500
			font-size 34rpx
			border-radius 8rpx
			margin 0 auto 100rpx
