@import "../../../style/base.styl";
.container {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background: #ececec;
	min-height: 100vh;
	.price-info {
		padding-top: 100rpx;
		display flex
		align-items center
		justify-content center
		font-family: PingFang SC;
		font-weight: 500;
		padding-bottom 34rpx
		.unit {
			font-size: 52rpx;
			margin-right 10rpx
			margin-top 15rpx
		}
		.price {
			font-size: 72rpx;
		}
	}
	.order-info {
		padding 0 60rpx
		.order-item {
			height: 72rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-family: PingFang SC;
			font-size: 24rpx;
			font-weight: normal;
			color: #666666;
			&.line {
				border 1rpx solid #DBDBDB
				border-left 0
				border-right 0
			}
		}
	}
	.fill {
		flex: 1;
	}
	.btn-wrapper {
		padding-bottom: env(safe-area-inset-bottom);
		padding: 40rpx 44rpx 98rpx;
		background: #fff;
		border-radius: 16rpx 16rpx 0rpx 0rpx;
		box-shadow: 0rpx -8rpx 30rpx 0rpx rgba(223,223,223,0.362);
		.btn {
			height: 110rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 55rpx;
			background: #2a4f44;
			font-family: '苹方-简';
			font-size: 36rpx;
			font-weight: 600;
			text-align: center;
			letter-spacing: 0.42rpx;
			color: #fff;
			text-shadow: 0rpx -8rpx 30rpx rgba(223,223,223,0.362);
		}
	}
}
