@import "../../../style/base.styl";
.login
	& > image
		display block
		margin 0 auto
		margin-top 100rpx
		width 180rpx
		height 180rpx
		border-radius 50%
		background-color: #C1BFBF
	.title
		margin-top 20rpx
		text-align center
		font-size 40rpx
		font-weight 500
	.wrapper
		margin-top 100rpx
		padding 0 80rpx
		box-sizing border-box
		.sub-title
			font-size 36rpx
			font-weight 500
		.des
			margin-top 20rpx
			font-size 28rpx
			color #666
		.btn
			display flex
			align-items center
			justify-content center
			margin-top 60rpx
			height 98rpx
			font-size 40rpx
			font-weight 500
			color #fff
			border-radius 49rpx
			background: linear-gradient(to right , $deepThemeColor, $shallowThemeColor)
