page
	height  100%
	background linear-gradient(142deg, #E95331 30%, #F2A449 100%)
	box-sizing border-box
	.top-title
		text-align center
		width 654rpx
		height 104rpx
		font-size 50rpx
		font-family HYYaKuHeiW
		color rgba(255,255,255,1)
		line-height 104rpx
		text-shadow 0rpx 4rpx 8rpx rgba(176,33,0,0.36)
