@import "../../style/base.styl"
.container
	min-height 100vh
	padding 62rpx 44rpx
	text-align center
	box-sizing border-box
	background #fff
	.logo
		padding-bottom 30rpx
		image
			width 588rpx
	.title
		font-size: 32rpx;
		font-family: PingFang SC-Regular, PingFang SC;
		font-weight: 400;
		color: #262626;
		line-height: 34rpx;
	.sub-title
		font-size: 24rpx;
		font-family: PingFang SC-Regular, PingFang SC;
		font-weight: 400;
		color: #979797;
		line-height: 36rpx;
		margin-top 14rpx
		margin-bottom 80rpx
	.tips
		display flex
		align-items flex-start
		text-align left
		font-size: 24rpx;
		padding-left 62rpx
		font-family: PingFang SC-Regular, PingFang SC;
		font-weight: 400;
		color: #EC602A;
		line-height: 36rpx;
	.btn
		height: 110rpx;
		display flex
		align-items center
		justify-content center
		background: #2A4F44;
		box-shadow: 0rpx 4rpx 2rpx 0rpx rgba(211.5760973095894,211.5761125087738,211.5761125087738,0.5);
		border-radius: 55rpx 55rpx 55rpx 55rpx;
		font-size: 36rpx;
		font-family: PingFang SC-Semibold, PingFang SC;
		font-weight: 600;
		color: #FFFFFF;
		margin-top 40rpx
