.content
	background #FAFAFA
	height 100vh
	.list-vehicle
		padding 64rpx 76rpx 32rpx 32rpx
		display flex
		justify-content center
		align-items center
		.label
			width 190rpx
			font-size 28rpx;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color rgba(0,0,0,0.5)
		//tab切换
		.list-title
			display flex
			align-items center
			justify-content center
			overflow-x auto
			white-space nowrap
			.list-title-child
				display inline-block
				font-size 28rpx
				text-align center
				color rgba(0,0,0,0.8)
				line-height 50rpx
				margin-right 26rpx
			.tab-index
				font-size 34rpx
				font-family: PingFangSC-Medium, PingFang SC;
				font-weight: 500;
				color: #000000;
				border-bottom 6rpx solid #1BA566;
	.service
		margin 0rpx 32rpx
		background: #FFFFFF;
		box-shadow: 0rpx 0rpx 18rpx 0rpx rgba(0, 0, 0, 0.04)
		border-radius: 16rpx;
		.service-detail
			display flex
			align-items center
			height 150rpx
			margin 0rpx 32rpx
			border-bottom 1rpx dashed rgba(0, 0, 0, 0.1)
			.left
				flex 1
				display flex
				flex-direction column
				color rgba(0, 0, 0, 0.3)
				line-height 34rpx
				& > view:first-child
					font-size 34rpx;
					font-family: PingFangSC-Regular, PingFang SC;
					font-weight: 400;
					color: #000000;
					line-height 48rpx;
			.right
				display flex
				flex-direction column
				& > view:first-child
					font-size 34rpx;
					font-family: PingFangSC-Regular, PingFang SC;
					font-weight: 500;
					color: #000000;
					line-height 48rpx;
				.status
					font-size: 24rpx;
					font-family: PingFangSC-Regular, PingFang SC;
					font-weight: 400;
					color: #2FB565;
					line-height: 34rpx;
		.list-service
			margin-top 26rpx
			margin-left 32rpx
			display flex
			flex-wrap wrap
			.item
				.item-content
					margin-bottom 12rpx
					position: relative;
					display flex
					align-items center
					justify-content center
					width: 296rpx;
					height: 100rpx;
					background: #2FB565;
					color #ffffff
					font-size 28rpx
					.img
						display flex
						justify-content center
						align-items center
						margin-left 10rpx
						height 44rpx
						width 44rpx
						background #fff
						border-radius 50%
						& > image
							height 40rpx
							width 40rpx
					.item-name
						margin 0rpx 8rpx
					.item-symbol
						font-size 26rpx
						line-height 34rpx
					.num
						font-size 24rpx
						line-height 34rpx
						margin 0rpx 8rpx
				.item-content:nth-child(odd)
					margin-right 24rpx
					&::before,
					&::after
						position: absolute;
						top: 50%;
						display: inline-block;
						width: 28rpx;
						height: 22rpx;
						content: '';
						border-radius: 50%;
						background-color: #fff;
						transform: translateY(-50%);
					&::before
						left -20rpx
					&::after
						left  auto
						right -20rpx
		.service-tips
			padding-top 22rpx
			padding-bottom 32rpx
			text-align center
			font-size 24rpx;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color rgba(0,0,0,0.3)
			line-height 34rpx;
