// 字符串截取
function substring(val,start,end) {
  if (val.length == 0 || val == undefined) {
    return;
  }
    return val.substring(start,end);
}
// 字符串转数组
function stringToArray(string,splitKeyword) {
    return string.split(splitKeyword);
}
// 保留两位小数
function parseNum(val=0) {
  return parseFloat(val).toFixed(2);
}
// 取整
function parseIn(val=0) {
  return parseIn(val);
}
// 倒计时函数
function formatterTimer(systimestamp, compareTime, countdownTime = 0) {
  var reg = getRegExp("-", "g"); // 获取正则表达式，全局替换
  compareTime = compareTime.replace(reg, '/'); // 时间格式转换
  // 将字符串转换成时间格式
  compareTime = getDate(compareTime).valueOf();
  console.log(compareTime)
  var result = {};
  var nowTime = systimestamp / 1000;// 当前系统的时间戳
  var futureTime = getDate(compareTime).getTime() / 1000 + countdownTime * 24 * 60 * 60; // 操作时间 + 倒计时时间
  // 未来的时间减去现在的时间;
  var resTime = futureTime - nowTime;
  var date = Math.ceil(resTime / (24 * 60 * 60));
  if (countdownTime !== 0) {
      if (date === 0) {
        date = 0;
      }
      if (date >= countdownTime) {
        date = countdownTime;
      }
  }
  return date > 0 ? date : 0;
};
module.exports = {
  substring: substring,
  stringToArray: stringToArray,
  parseIn: parseIn,
  parseNum: parseNum,
  formatterTimer: formatterTimer,
};
