@import "../../../style/base.styl";
.binding_account
	text-align center
	.img
		width 302rpx
		margin 84rpx 0 50rpx
	.title
		line-height 48rpx
		font-size 44rpx
		color rgba(0, 0, 0, 0.9)
	.content
		color $fontColor6
		font-size 28rpx
		line-height 44rpx
		padding 32rpx 80rpx
