.step-temp
	display flex
	height 100rpx
	padding 0rpx 12rpx
	font-size 24rpx
	& > view
		margin-top -20rpx
		display flex
		flex-direction column
		align-items center
		justify-items center
		justify-content center
		margin 0rpx 2rpx
		&:nth-child(2)
			flex 1
			& > view
				&::before
					content ''
					flex 1
					border 1rpx dashed rgba(0,0,0,0.1)
		&:last-of-type
			flex 1
			& > view
				&::before
					content ''
					flex 1
					border 1rpx dashed rgba(0,0,0,0.1)
		&.pre
			& > view
				&::before
					border 1rpx dashed #00B85C
				& > text
					color #fff
					background: #00B85C
		& > view
			position relative
			display flex
			align-items center
			width 100%
			& > text
				position relative
				display flex
				margin 0rpx 20rpx
				width 36rpx
				height 36rpx
				line-height 30rpx
				align-items center
				justify-content center
				justify-items center
				font-size 22rpx
				border-radius 50%
				color #fff
				background rgba(0,0,0,0.2)


