@import "../../../style/base.styl";
$fontColor1 = #87592B;
$fontColor2 = #433224;
page
	width 100%
	height 100vh
	overflow hidden
	background #F5F7FD
	.member_benefits
		position relative
		width 100%
		height 100vh
		box-sizing border-box
		margin 0 35rpx
		// 会员头部
		.members-top
			position absolute
			top 17%
			z-index 1
			width 90.6%
			height 41.5vh
			box-sizing border-box
			padding 0 10rpx
			margin auto
			background $fontColor3
			border-radius 16rpx
			opacity 0.77
			.members-top-bg
				image
					width 100%
					height 317rpx
					border-radius 16rpx
					margin-top -170rpx
			.members-top-content
				display flex
				margin-top -270rpx
				.header
					position relative
					flex 2
					text-align right
					image
						width 100rpx
						height 100rpx
						border-radius 100rpx
						border 4rpx solid #fff
				.crown::before
					position absolute
					content '\e640'
					color #F7A93C
					font-size 65rpx
					top -15rpx
					left 78rpx
				.user
					flex 5
					color #fff
					text-align left
					padding-left 20rpx
					&>view:first-child
						font-size 36rpx
						font-weight 500
						line-height 50rpx
						padding-top 8rpx
						padding-left 10rpx
					&>view:last-child
						width 128rpx
						button
							width 128rpx
							height 38rpx
							line-height 38rpx
							font-size 24rpx
							color #fff
							background #484F62
							border-radius 25rpx
							opacity 0.65
							padding 0
						button.active
							background #DCAA63
				.member
					flex 3
					font-size 24rpx
					color #F7B500
					padding-top 70rpx
					text-indent 36rpx
				.member::after
					content '\e601'
					color #F7B500
					font-size 24rpx
		// 会员权益列表盒子
		.benefits
			position absolute
			top 40%
			z-index 2
			width 90.6%
			height 50vh
			background #fff
			border-radius 0px 0px 16rpx 16rpx
			box-shadow 8rpx 12rpx 26rpx 0px rgba(219,224,238,0.54)
			.benefits-list
				position relative
				width 100%
				height 50vh
				background #fff
				transform skewY(5deg) translate(0rpx,10rpx)
				margin-top -250rpx
				.benefits-content
					position absolute
					top 0
					left 0
					z-index 2
					width 100%
					height 59vh
					transform skewY(-5deg) translate(0rpx,0rpx)
					.benefits-top
						font-size 28rpx
						color $fontColor3
						line-height 56rpx
						padding-top 33rpx
						padding-left 40rpx
						transform skewY(-1.2deg) translate(0rpx,0rpx)
					.list-box
						height 360rpx
						padding 0 60rpx 0 56rpx
						.list-content
							display flex
							float left
							width 50%
							height 78rpx
							align-items center
							text-align center
							padding-top 42rpx
							.list-title
								display flex
								color $fontColor3
								font-weight 600
								font-size 32rpx
								line-height 78rpx
								align-items center
							.list-title::before
								color #C7C8C8
								font-weight 400
								font-size 78rpx
								margin-right 16rpx
							.icon-active::before
								color #219E61
						&>view:nth-child(2n)
							text-align right
							.list-title
								margin-left auto
			.benefits-button-bg
				position absolute
				z-index 1
				width 100%
				height 10vh
				background #fff
				border-radius 0px 0px 16rpx 16rpx
				margin-top -20rpx
				.lighting-members
					position absolute
					width 90%
					left 20rpx
					right 20rpx
					bottom 0rpx
					z-index 5
					text-align center
					height 94rpx
					line-height 94rpx
					color $fontColor9
					font-size 24rpx
					margin 94rpx 20rpx 0
					border-top 1rpx solid #EFEFEF
		.benefits-height
			height 36vh
		.as-member
			button
				width 83%
				height 98rpx
				line-height 98rpx
				border-radius 98rpx
				font-size 40rpx
				font-weight 500
				color #fff
				background linear-gradient(to right, $deepThemeColor, $shallowThemeColor)
		.prompt
			display flex
			font-size 26rpx
			width 100%
			color $fontColor9
			align-items center
			justify-content center
			line-height 34rpx
			padding-top 40rpx
			image
				width 28rpx
				height 26rpx
				margin-right 10rpx
		// 弹出详情
		.mask
			position fixed
			left 0
			top 0
			right 0
			bottom 0
			z-index 5
			background rgba(0, 0, 0, .6)
			.top
				position fixed
				left 0
				top 0
				bottom 0
				width 100%
				height 37%
				background: rgba(0, 0, 0, 0)
			.wrapper
				position fixed
				left 0rpx
				top 37%
				right 0
				bottom 0
				height 63%
				background #fff
				border-radius 32rpx 32rpx 0px 0px
				padding 0 68rpx
				.details-title
					display flex
					align-items center
					font-size 40rpx
					font-weight 600
					line-height 74rpx
					color $fontColor3
					padding-top 58rpx
				.details-title::before
					color #15AD69
					font-weight 400
					font-size 74rpx
					padding-right 20rpx
				.details-content
					color $fontColor6
					font-size 32rpx
					line-height 48rpx
					padding-top 30rpx
				.as-member,
				.prompt
					transform skewY(0deg) translate(0rpx,0rpx)
				.as-member
					padding-top 100rpx
	.icon0::before
		content '\e60c'
	.icon1::before
		content '\e610'
	.icon2::before
		content '\e60d'
	.icon3::before
		content '\e60b'
	.icon4::before
		content '\e60a'
