vendors = official
.animated {
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes linearAnimation{
	0%{
		width 38rpx
	}
	25%{
		width 68rpx
	}
	50%{
		width 98rpx
	}
	75%{
		width 128rpx
	}
	100%{
		width 158rpx
	}
}
@keyframes linearAnimation{
	0%{
		width 38rpx
	}
	25%{
		width 68rpx
	}
	50%{
		width 98rpx
	}
	75%{
		width 128rpx
	}
	100%{
		width 158rpx
	}
}
@-webkit-keyframes linearAnimation1{
	0%{
		width 38rpx
	}
	25%{
		width 68rpx
		margin-left 129rpx
	}
	50%{
		width 98rpx
		margin-left 99rpx
	}
	75%{
		width 128rpx
		margin-left 69rpx
	}
	100%{
		width 158rpx
		margin-left 39rpx
	}
}
@keyframes linearAnimation1{
	0%{
		width 38rpx
	}
	25%{
		width 68rpx
		margin-left 129rpx
	}
	50%{
		width 98rpx
		margin-left 99rpx
	}
	75%{
		width 128rpx
		margin-left 69rpx
	}
	100%{
		width 158rpx
		margin-left 39rpx
	}
}
