.iconfont
    font-family 'iconfont' !important
    font-size 16px
    font-style normal
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
mixinsWidthHeight($width = 100%, $height = 100%)
    width $width
    height $height
mixinsIconfont($content='',$size=16px,$color=#5EBE68)
    content $content
    font-size $size
    color $color
mixinsPositionPack($position=relative)
    position $position
    left 50%
    transform translateX(-50%)
textLineCenter($height)
    text-align center
    line-height $height
.home
    margin 0
    padding 0
    width 100vw
    min-height 100vh
    background-color #EBEDF0
    position relative
    .bubbleBtn
        mixinsWidthHeight(298rpx,60rpx)
        textLineCenter(60rpx)
        position absolute
        top 190rpx
        right 28rpx
        color #FFC300
        font-size 24rpx
        font-weight 400
        background rgba(255,255,255,0.22)
        border-radius 12rpx 12rpx 12rpx 12rpx
        font-family Source Han Sans CN-Regular, Source Han Sans CN
        opacity: 1
        z-index 100
        &::after
            display inline-block
            margin-left 12rpx
            mixinsIconfont('\e661',20rpx,#FFC300)
            transform rotateZ(-90deg)
    /* 顶部 滑块视图 */
    .topSwiper
        width 100%
        height auto
        font-family PingFangSC-Regular, PingFang SC
        position relative
        z-index 1
        .swiperBox
            width 100%
            height 100%
            .swiper-item
                width 100%
                height 100%
                z-index -1
                .topImg
                    z-index -1
                    width 100%
                    height 100%
        .regular
            pointer-eventsnone none
            .regular-item
                pointer-eventsauto auto
    .module
        padding 0rpx 28rpx
        border-radius 16rpx
        background #FFFFFF
        margin 32rpx 28rpx 0rpx 28rpx
        position relative
        z-index 2
        top -100rpx
    /* 办理模块 */
    .immediately
        display flex
        overflow hidden
        align-items center
        padding 0rpx 28rpx
        .vehicle-info
            flex 1
            position relative
            .vehicle-info-box
                flex 1 /* height 98rpx */
                font-size 36rpx
                margin 32rpx 0rpx
                font-family PingFangSC-Semibold, PingFang SC
                font-weight 600
                color #1E1E1E
                .sub-title
                    font-size 28rpx
                    font-family PingFangSC-Regular, PingFang SC
                    font-weight 400
                    color #1E1E1E
                    line-height 34rpx
                    padding-top 20rpx
                &.vehicle-info-trucks-box
                    position absolute
                    top 150rpx
        .btn
            display flex
            align-items center
            justify-content center
            padding 0rpx 36rpx
            height 76rpx
            background #2A4F44
            border-radius 16rpx
            font-size 28rpx
            font-family PingFangSC-Semibold, PingFang SC
            font-weight 400
            color #fff
        .bill-info
            text-align center
            .bill
                height 56rpx
                display flex
                align-items center
                font-size 48rpx
                font-weight bold
                color #00b85c
            .bill
                &::after
                    content '\e63e'
                    font-size 20rpx
                    color #ffec9a
                    margin-left 12rpx
                &.failure
                    color #ff3c48
            .bill-status
                display flex
                height 34rpx
                align-items center
                justify-content center
                font-size 24rpx
                color #33333e
                line-height 34rpx
                padding-top 2rpx
                &.failure
                    &::before
                        color #ff3c48
                        content '\e617'
                        margin-right 8rpx
    /* 模块一 */
    .moduleOne
        display flex
        min-height 302rpx
        align-items center
        justify-content space-around
        .moduleOneBox
            width 186rpx
            height 238rpx
            font-family PingFangSC-Regular, PingFang SC
            .imgTitle
                width 118rpx
                height 118rpx
                margin 0 34rpx
                image
                    width 100%
                    height 100%
            .title
                width 100%
                height 40rpx
                font-size 30rpx
                font-weight 400
                color #000000
                margin-top 14rpx
                line-height 40rpx
                text-align center
            .btn_two
                width 100%
                height 50rpx
                font-size 20rpx
                font-weight 400
                color #D2BA78
                margin-top 16rpx
                text-align center
                line-height 50rpx
                border-radius 26rpx
                background #F8F1DF
                letter-spacing 3rpx
                box-shadow inset 0rpx -4rpx 6rpx 0rpx rgba(235, 212, 151, 0.34)
    .head
        font-size 30rpx
        font-weight 500
        color #000000
        margin-bottom 16rpx
        font-family PingFangSC-Medium, PingFang SC
    /* 模块二 */
    .moduleTwo
        margin 32rpx 28rpx 0rpx 28rpx
        font-family PingFangSC-Medium, PingFang SC
        position relative
        top -100rpx
        height auto
        .moduleTwoBox
            width 100%
            display flex
            flex-wrap wrap
            justify-content space-between
            .integral
                height 154rpx
                width 334rpx
                display flex
                overflow hidden
                margin-bottom 28rpx
                align-items center
                border-radius 16rpx
                box-shadow 0rpx 4rpx 8rpx 0rpx rgba(240, 240, 240, 0.5)
                image
                    width 100%
                    height 100%
    /* 模块三 */
    .moduleThree
        height auto
        margin 32rpx 28rpx 0rpx 28rpx
        background-color transparent
        position relative
        top -100rpx
        .moduleThreeBox
            width 100%
            overflow hidden
            min-height 256rpx
            background #fff
            border-radius 16rpx
            .directSeeding
                margin 28rpx
                width 638rpx
                display flex
                height 200rpx
                align-items center
                justify-content space-between
                .leftImg
                    width 200rpx
                    height 200rpx
                    overflow hidden
                    margin-right 28rpx
                    border-radius 16rpx
                    background #EFEFEF
                    image
                        width 100%
                        height 100%
                .rightView
                    width 410rpx
                    min-height 128rpx
                    .directSeedingTitle
                        width 100%
                        height auto
                        display flex
                        justify-content space-between
                        view
                            &:first-child
                                height auto
                                width 290rpx
                                font-size 28rpx
                                font-weight 500
                                color #000000
                                overflow hidden
                                line-height 40rpx
                                font-family PingFangSC-Medium, PingFang SC
                        .directSeedingImg
                            height 40rpx
                            display flex
                            font-size 16rpx
                            font-weight 400
                            color #000000
                            line-height 40rpx
                            font-family PingFangSC-Regular, PingFang SC
                            .loginImg
                                width 26rpx
                                height 28rpx
                                overflow hidden
                                margin-right 2rpx
                                image
                                    width 100%
                                    height 100%
                    .lsBack
                        width 100%
                        height 34rpx
                        margin-top 8rpx
                        font-size 24rpx
                        font-weight 400
                        color #000000
                        line-height 34rpx
                        font-family PingFangSC-Regular, PingFang SC
                    .viewText
                        width 100%
                        height 24rpx
                        display flex
                        margin-top 8rpx
                        align-items center
                        view
                            &:first-child
                                width 24rpx
                                height 24rpx
                                overflow hidden
                                margin-right 8rpx
                                image
                                    width 100%
                                    height 100%
                    text
                        display block
    /* 占位 */
    .split
        width 100%
        height 200rpx
        overflow hidden
    .custom-module{
        height auto
        margin 32rpx 28rpx 0rpx 28rpx
        background-color transparent
        position relative
        top -100rpx
        .module-main{
            height 200rpx
            background-repeat no-repeat
            background-size cover
            background-image url("https://file.cyzl.com/g001/M02/F5/FB/oYYBAGS_dFmAFDZVAAIIZ4M49P8387.png")
            .text-main{
                padding-left 40rpx
                padding-top 46rpx
                font-weight 500
                font-size 28rpx

                .title{
                    color: #1E1E1E;
                    font-size 40rpx
                    line-height 56rpx
                    padding-bottom 10rpx
                }
                .text-color{
                    color: rgba(30,30,30,0.54);
                    font-size 28rpx
                }
            }
            .arrow-style{
                color #fff
                background #147E4A
                width: 28rpx;
                height: 28rpx;
                line-height 28rpx
                font-size 24rpx
                border-radius: 14rpx;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-left 10rpx
            }
        }


    }
    .left-center{
        display: flex;
        align-items: center;
    }
