@import "../../style/base.styl";
@import "animate.styl";
.index
	width 100%
	overflow-x hidden
	// 车辆类型切换
	.tab
		height 176rpx
		background #EBFFDC
		.tab-box
			padding 96rpx 32rpx 0
			font-size 48rpx
			font-family PingFangSC-Semibold, PingFang SC
			font-weight 600
			color rgba(0, 0, 0, 1)
			.check-vehicle
				display flex
				.item
					padding-right 30rpx
					display flex
					height 64rpx
					align-items center
			.line
				display flex
				width 38rpx
				height 12rpx
				background #FFC000
				border-radius 6rpx
				margin-top 4rpx
				margin-left 28rpx
				&.active
					animation linearAnimation 300ms
					animation-name linearAnimation
				&.active-trucks
					animation linearAnimation1 300ms
					animation-name linearAnimation1
				&.skewing
					margin-left 159rpx
	// 立即办理
	.deal-with
		position relative
		height 498rpx
		background-image linear-gradient(#EBFFDC, #CAFFCD)
		z-index 1
		.left
			position absolute
			z-index 1
			left 28rpx
			.introduce-box
				display flex
				.introduce
					padding-top 80rpx
					min-width 500rpx
					.title
						display flex
						height 64rpx
						align-items center
						font-size 52rpx
						font-family Arial-Black, Arial
						font-weight 900
						color #00B85C
						image
							width 114rpx
							margin-top -45rpx
					.sub-title
						padding-top 18rpx
						font-size 24rpx
						color rgba(102,102,110, 0.8)
						line-height 34rpx
					&.introduce-trucks
						padding-left 450rpx
			.btn
				display flex
				align-items center
				justify-content center
				width 158rpx
				height 50rpx
				border-radius 25rpx
				margin-top 82rpx
				background #FFC000
				font-size 24rpx
				font-family PingFangSC-Semibold, PingFang SC
				font-weight 600
				color: #FFFFFF
				&.btn-switch-trucks
					background #3CA1FF
				&.btn-switch-passenger-car
					background #FFC000
		.right
			position absolute
			right 0
			top 45rpx
			z-index 0
			image
				width 488rpx
			&.right-for-trucks
				right -488rpx
	// 订单信息开始
	.order-info
		position relative
		padding 32rpx
		border-radius 24rpx 24rpx 0rpx 0rpx
		background #FFFEFE
		margin-top -32rpx
		z-index 2
		.order-info-box
			height 290rpx
			background #FFFFFF
			box-shadow 0rpx 10rpx 30rpx 0rpx rgba(159, 159, 159, 0.15)
			border-radius 8rpx
			// 显示订单状态开始
			.vehicle-information
				display flex
				height 82rpx
				padding 52rpx 48rpx 68rpx 46rpx
				overflow hidden
				.vehicle-info
					flex 1
					position relative
					.vehicle-info-box
						flex 1
						height 82rpx
						font-size 34rpx
						font-family PingFangSC-Semibold, PingFang SC
						font-weight 600
						color #000000
						.sub-title
							font-size 24rpx
							font-family PingFangSC-Regular, PingFang SC
							font-weight 400
							color rgba(102,102,110, 0.8)
							line-height 34rpx
							padding-top 14rpx
						&.vehicle-info-trucks-box
							position absolute
							top 150rpx
				.btn
					display flex
					align-items center
					justify-content center
					width 240rpx
					height 82rpx
					background #00B85C
					border-radius 8rpx
					font-size 28rpx
					font-family PingFangSC-Semibold, PingFang SC
					font-weight 600
					color #FFFFFF
				.bill-info
					text-align center
					.bill
						height 56rpx
						display flex
						align-items center
						font-size 48rpx
						font-weight bold
						color #00B85C
						&::after
							content '\e63e'
							font-size 20rpx
							color #FFEC9A
							margin-left 12rpx
						&.failure
							color #FF3C48
					.bill-status
						display flex
						height 34rpx
						align-items center
						justify-content center
						font-size 24rpx
						color #33333E
						line-height 34rpx
						padding-top 2rpx
						&.failure
							&::before
								color #FF3C48
								content '\e617'
								margin-right 8rpx
			.other-entrance
				display flex
				height 48rpx
				align-items center
				padding 0 32rpx
				.item
					flex 1
					display flex
					height 48rpx
					align-items center
					color rgba(0, 0, 0, 1)
					font-size 24rpx
					border-right 1rpx solid #E7E7E7
					padding-left 12rpx
					&::before
						color #00B85C
						font-size 32rpx
						margin-right 8rpx
					&.invoice
						&::before
							content '\e694'
					&.violation-enquiry
						&::before
							content '\e690'
					&.my-order
						&::before
							content '\e699'
					&.server
						&::before
							content '\e697'
					&.personal-center
						&::before
							content '\e695'
					&:first-child
						padding-left 0
					&:last-child
						border 0
		.notice
			height 60rpx
			background #F8FFF8
			display flex
			align-items center
			padding-left 32rpx
			padding-right 38rpx
			box-shadow 0rpx 4rpx 12rpx 0rpx rgba(0,0,0,0.04)
			.notice-left
				flex 1
				color rgba(0,0,0,.3)
				font-size 24rpx
				&::before
					content '\e698'
					font-size 28rpx
					color #00B85C
					margin-right 14rpx
			.notice-right
				width 12rpx
				height 12rpx
				background #FF3C48
				border-radius 50%
				&.no-notice-bg
					display none
			&::after
				content '\e60e'
				font-size 22rpx
				color rgba(0,0,0,.3)
				margin-left 14rpx
				transform rotateZ(-180deg)
	// 底部活动
	.my-swiper
		height 250rpx
		.my-swiper-item
			image
				width 504rpx
				&.xiaoepinpin
					width 470rpx
					height 195rpx !important
					margin 20rpx
