.characteristic_service
	background #ffffff
	display flex
	flex-direction column
	.item
		display flex
		margin 70rpx 100rpx 48rpx 32rpx
		& > image
			margin-top 8rpx
			height 88rpx
			width 88rpx
		.item-content
			display flex
			flex-direction column
			margin-left 34rpx
			font-size 34rpx
			color #000000
			& > view:first-child
				line-height: 48rpx;
				margin-bottom 10rpx
			.content-gray
				line-height 40rpx
				font-size 28rpx
				color rgba(150,150,150,0.9)
				.btn-online
					color #10AEFF
					text-decoration-line underline
	.empty
		height 20rpx
		background #FAFAFA
	.more-text
		margin-top 48rpx
		display flex
		align-items center
		justify-content center
		text-align center
		font-size 24rpx
		font-family PingFangSC-Regular,PingFang SC
		color rgba(0, 0, 0, 0.25);
	.fill
		flex 1
