@import "../../../style/base.styl";
@import "../../../style/my_animate.styl";
.page
	min-height 100vh
	display flex
	flex-direction column
	background #F6F6F6
	// 标题
	.title
		display flex
		align-items center
		padding 40rpx 30rpx 0
		height 56rpx
		font-size 40rpx
		font-weight 500
		&::before
			margin-right 10rpx
			content ''
			width 10rpx
			height 10rpx
			border 6rpx solid $fontColor
			border-radius 50%
	// 上传身份证
	.photo-wrapper
		display flex
		justify-content space-between
		padding 24rpx 60rpx 56rpx
		.photo
			position relative
			overflow hidden
			width 630rpx
			height 336rpx
			border 4rpx dashed rgba(39, 178, 102, .53)
			border-radius 20rpx
			text-align center
			.not-upload
				padding 30rpx 0
				font-size 28rpx
				font-family PingFangSC-Regular, PingFang SC
				font-weight 400
				color $fontColor3
				line-height 40px
				.img-box
					height 196rpx
					position relative
					.img
						width 448rpx
						height 196rpx
					.ico
						position absolute
						left 0
						right 0
						top 0
						bottom 0
						margin auto
						width 43rpx
						height 36rpx
			.identify
				position absolute
				z-index 1
				top 0
				left 0
				width 100%
				height 100%
				background rgba(47, 181, 101, .64)
				font-size 24rpx
				color #fff
				image
					width 50rpx
					height 50rpx
					margin 70rpx 0 8rpx
			.success
				width 100%
				height 100%
			&.not-border
				border 0
	.line
		height 20rpx
		background #EBEBEB
	.choice
		padding-left 58rpx
		padding-top 40rpx
		.title
			padding 0
			font-size 36rpx
			&::before
				border 0
				margin 0
				display none
		.sub-title
			font-size 24rpx
			color $fontColor6
			line-height 40rpx
			padding 10rpx 0 36rpx 0rpx
		.choice-list
			.list-item
				color $fontColor3
				font-size 32rpx
				height 116rpx
				display flex
				align-items center
				border-bottom 1rpx solid #E8E8E8
				padding-right 74rpx
				&::after
					margin-left auto
					content ''
					width 38rpx
					height 38rpx
					background #EEEEEE
					border 2rpx solid #D1D1D1
					border-radius 50%
				&.active
					&::after
						content '\e6e4'
						border 0
						font-size 50rpx
						color #00B062
						margin-right 8rpx
	// 高度填充
	.fill
		flex 1
	// 下一步
	.btn
		display flex
		align-items center
		justify-content center
		margin 20rpx 60rpx 40rpx
		height 98rpx
		font-size 40rpx
		font-weight 500
		color #fff
		border-radius 49rpx
		background: linear-gradient(to right , $deepThemeColor, $shallowThemeColor)
		&.available
			animation btnFadeIn .3s
			animation-fill-mode forwards
		&.unavailable
			animation btnFadeOut .3s
			animation-fill-mode forwards
