@import "../../../style/base.styl";
.index
	display flex
	flex-direction column
	box-sizing border-box
	min-height 100vh
	.content
		padding 84rpx 32rpx 32rpx
		& > view
			display flex
			&> view:first-child
				flex 1
			&.title
				display flex
				height 40rpx
				align-items center
				padding-bottom 32rpx
				font-size: 28rpx;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: rgba(0,0,0,.9)
			&.account
				height 84rpx
				display flex
				align-items center
				.info
					height 84rpx
					display flex
					align-items center
					font-size: 28rpx;
					font-family: PingFangSC-Semibold, PingFang SC;
					font-weight: 600;
					color: #33333D;
					.price
						font-size: 60rpx;
						color: #00B85C;
						padding-right 12rpx
					.particulars
						font-family: PingFangSC-Regular, PingFang SC;
						font-weight: 400;
						color: #00A9FF;
						padding-left 32rpx
				.recharge
					display flex
					align-items center
					justify-content center
					width: 114rpx;
					height: 52rpx;
					background: rgba(207,207,207, .2)
					font-size: 24rpx;
					font-family: PingFangSC-Regular, PingFang SC;
					font-weight: 400;
					color: #00B85C;
	.line
		height: 20rpx;
		background: #FAFAFA;
