@import "../../../style/base.styl";
.coupon
	min-height 100vh
	.list
		padding 32rpx 32rpx 16rpx
		.item
			background #F7F7F7
			margin-bottom 32rpx
			.coupon-info
				display flex
				height 158rpx
				align-items center
				position relative
				&::before,
				&::after
					position absolute
					top 50%
					display inline-block
					width 34rpx
					height 34rpx
					content ''
					border-radius 50%
					background-color #fff
					transform translateY(-50%)
				&::before
					left -20rpx
				&::after
					left auto
					right -20rpx
				.img
					width 174rpx
					height 104rpx
					background #FFFFFF
					text-align center
					margin 0 32rpx
					align-items center
					border-radius 10rpx
					image
						height 86rpx
				.name
					flex 1
					:first-child
						font-size 28rpx
						color #000000
						line-height 40rpx
					:last-child
						font-size 24rpx
						color rgba(0, 0, 0, 0.5)
						line-height 34rpx
						margin-top 14rpx
				.receive
					margin-right 48rpx
					text-align center
					:first-child
						width 114rpx
						height 52rpx
						display flex
						align-items center
						justify-content center
						font-size 24rpx
						color #fff
						background #00B85C
						border-radius 4rpx
						&.already-received
							background #CFCFCF
					:last-child
						font-size 20rpx
						color rgba(0, 0, 0, 0.3)
						line-height 28rpx
						margin-top 12rpx
			.coupon-bottom
				display flex
				height 52rpx
				align-items center
				padding 0 48rpx 0 30rpx
				border 2rpx dashed #E5E5E5
				font-size 20rpx
				color rgba(0, 0, 0, 0.5)
				:first-child
					flex 1
	.introduce
		text-align center
		font-size 24rpx
		color rgba(0, 0, 0, 0.5)
