@import "../../../style/base.styl";
.signed_successfully
	// 成功结果
	text-align center
	.iconfont
		padding 90rpx 0 64rpx
		&::before
			display block
			font-size 180rpx
			content '\e630'
			color #16AD69
	.success
		font-size 40rpx
		font-family PingFangSC-Medium, PingFang SC
		font-weight 500
		color #000000
		line-height 57rpx
		padding-bottom 14rpx
	button
		width 650rpx
		height 96rpx
		line-height 96rpx
		font-size 36rpx
		font-family PingFangSC-Medium, PingFang SC
		font-weight 500
		color #FFFFFF
		text-align center
		background linear-gradient(132deg, #16AD69 0%, #82D057 100%)
		border-radius 48rpx
