@import "../../../style/base.styl";
.photo_recognition_of_driving_license
	display flex
	height 100vh
	background: #000
	// 相机部分
	.camera
		flex  0 0 rpx2vmin(1058)
		width rpx2vmin(1058)
		height 100vh
		background: #000
		// 导航栏
		.nav
			display flex
			align-items center
			margin-top rpx2vmin(50)
			height rpx2vmin(56)
			& > cover-view
			    float left
			.back
				width rpx2vmin(128)
				text-align center
				.back_arrow
					margin 0 auto
					width rpx2vmin(52)
					height rpx2vmin(52)
			.title
				font-size rpx2vmin(40)
				color #fff
		// 框及文字提示
		.left
			margin-top rpx2vmin(12)
			float left
			padding-left rpx2vmin(60)
			width rpx2vmin(824)
			box-sizing border-box
			.border
				flex 0 0 rpx2vmin(764)
				width rpx2vmin(764)
				height rpx2vmin(488)
			.tips
				margin-top rpx2vmin(10 * 2)
				display flex
				align-items center
				height rpx2vmin(28 * 2)
				font-size rpx2vmin(20 * 2)
				color #fff
		.right
			position relative
			float left
			width rpx2vmin(117 * 2)
			height 100vh
			box-sizing border-box
			margin-top rpx2vmin(-7 * 2)
			.preview-view-wrapper
				position relative
				margin 0 auto
				width rpx2vmin(92 * 2)
				padding rpx2vmin(7 * 2)
				margin-bottom rpx2vmin(16 * 2)
				box-sizing border-box
				&:first-of-type
					margin-top rpx2vmin(52)
				.preview-view
					margin 0 auto
					padding rpx2vmin(2 * 2)
					width rpx2vmin(77 * 2)
					height rpx2vmin(46 * 2)
					background: rgba(0,0,0,0)
					border-radius rpx2vmin(2 * 2)
					box-sizing border-box
					//overflow none!important
					&.selected
						background: $shallowThemeColor
						//transition all .5s
						//transform rotateZ(360deg)
					&.cartoon
						//transition all .3s
						//transform rotateZ(360deg)
					.preview
						border-radius rpx2vmin(2 * 2)
				.status
					position absolute
					top  0
					right  0
					width rpx2vmin(17 * 2)
					height rpx2vmin(17 * 2)
	// 拍摄
	.btns
		position relative
		flex 1
		height 100vh
		background: $fontColor3
		.take-photo
			position absolute
			display flex
			align-items center
			justify-content center
			width rpx2vmin(70 * 2)
			height rpx2vmin(70 * 2)
			border-radius 50%
			background: #fff
			top 50%
			left 50%
			margin-top rpx2vmin(-35 * 2)
			margin-left rpx2vmin(-35 * 2)
			&.retry
				background: linear-gradient(to right , $deepThemeColor, $shallowThemeColor)
			& > image
				width rpx2vmin(32 * 2)
				height rpx2vmin(27 * 2)
		.retry-title
			position absolute
			left 0
			right 0
			text-align center
			height rpx2vmin(28 * 2)
			line-height rpx2vmin(28 * 2)
			font-size rpx2vmin(14 * 2)
			color #fff
			top 62%
		.choice-from-album
			position absolute
			display flex
			align-items center
			justify-content center
			left 50%
			margin-left rpx2vmin(-31.3)
			bottom rpx2vmin(50 * 2)
			width rpx2vmin(31.3 * 2)
			height rpx2vmin(25 * 2)
			&::before
				content '\e646'
				color #fff
				font-size rpx2vmin(35 * 2)
	// 压缩图片
	.press-canvas
		position fixed
		left -3000rpx
