//渐变主题色
$themeColor1 = #1FD1B1;
$themeColor2 = #5DE59A;
page
	width 100%
	height 100vh
	overflow hidden
	background:rgba(246,246,246,1);
	.index
		//顶部
		.top
			width 100%
			height 592rpx
			background linear-gradient(156deg,rgba(23,173,105,1) 0%,rgba(127,208,88,1) 100%)
			.scan
				display flex
				margin-left 654rpx
				padding-top 160rpx
				&::before
					content '\e63c'
					color #ffffff
					font-size 60rpx
			//头像
			.head_portrait
				position relative
				display flex
				align-items center
				& > image
					margin-top -28rpx
					margin-left 316rpx
					width 120rpx
					height 120rpx
			//登录状态
			.landing_status
				display flex
				margin-left 324rpx
				& > view
					display inline-block
					font-size 36rpx
					font-family PingFangSC-Regular,PingFang SC
					font-weight 400
					color rgba(255,255,255,1)
			//会员权益
			.vip_equity
				display flex
				margin-top 20rpx
				margin-left 276rpx
				& > view
					width 200rpx
					height 50rpx
					line-height 50rpx
					background rgba(255,255,255,0.3)
					border-radius 30rpx
					border 2rpx solid rgba(255,255,255,0.5)
					font-weight 600
					align-items center
					text-align center
					color #ffffff
					& > text
						&::after
							margin-left 16rpx
							display inline-block
							content '\e60e'
							transform scaleX(-1)
		//用户导航栏
		.user_nav
			display flex
			justify-content center
			background rgba(255,255,255,1)
			border-radius 20rpx
			margin -100rpx 30rpx
			width 682rpx
			height 200rpx
			background rgba(255,255,255,1)
			color #99999d
			.user_item
				margin-left 70rpx
				text-align center
				flex 0 0 100rpx
				margin-top 30rpx
				&:first-of-type
					margin-left 0
				& > view
					& > image
						width 100%
						height 100%
					&:first-of-type
						background #FFC75E
						width 100rpx
						height 100rpx
						padding 20rpx
						box-sizing border-box
						border-radius 50rpx
						box-shadow:0 6rpx 10rpx 0 rgba(126,132,156,0.1)
					&:last-of-type
						margin-top 8rpx
						font-size 24rpx
						line-height 40rpx
						color $fontColor6
		//关注活动
		.activity_follow
			display flex
			flex-direction row
			margin 130rpx 30rpx
			width 682rpx
			height 140rpx
			border-radius 20rpx
			background white
			align-items center
			.activity_img
				margin-left 30rpx
				& > image
					width 130rpx
					height 130rpx
			.activity_msg
				margin-left 20rpx
				font-family PingFangSC-Regular,PingFang SC
				&>view:first-child
					font-size 16px
					color rgba(51,51,51,1)
				&>view:last-child
					color rgba(153,153,153,1)
			&::after
				width:28rpx
				height:52rpx
				margin-left 200rpx
				color:rgba(153,153,153,1)
				display inline-block
				content '\e60e'
				transform scaleX(-1)
		//关注活动弹框
		.detail_mask
			position fixed
			left 0
			top 0
			right 0
			bottom 0
			background: rgba(0, 0, 0, .4)
			.detail_wrapper
				.top1
					& > image
						width 600rpx
						height 800rpx
						margin 268rpx 74rpx 0 72rpx
				.activity_button
					width 360rpx
					height 80rpx
					background linear-gradient(108deg,rgba(255,173,62,1) 0%,rgba(255,131,37,1) 100%)
					box-shadow 0rpx 8rpx 10rpx 0rpx rgba(255,136,40,0.3)
					border-radius 45rpx
					margin-top -150rpx
					color white








