@font-face {
	font-family: 'iconfont';  /* project id 1514406 */
	src: url('//at.alicdn.com/t/font_1514406_rx3tpwk54p.eot');  src: url('//at.alicdn.com/t/font_1514406_rx3tpwk54p.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1514406_rx3tpwk54p.woff2') format('woff2'), url('//at.alicdn.com/t/font_1514406_rx3tpwk54p.woff') format('woff'), url('//at.alicdn.com/t/font_1514406_rx3tpwk54p.ttf') format('truetype'), url('//at.alicdn.com/t/font_1514406_rx3tpwk54p.svg#iconfont') format('svg');
}
.page
	display block
	position relative
	width 100vw
	min-height 100vh
	//overflow-x hidden
	//overflow-y scroll
	background #C0914B
	//-webkit-overflow-scrolling touch
	.content-container
		display block
		position relative
		.activity-content-img
			display block
			width 100%
			z-index 2
	.content
		position absolute
		bottom 0
		left 0
		width 100%
		text-align center
		.transact
			padding-bottom 30rpx
			.btn
				width 532rpx
				height 102rpx
				background linear-gradient(360deg, #DC9241 0%, #FFD3AF 100%)
				box-shadow 0rpx 20rpx 16rpx 0rpx rgba(91,8,8,0.19)
				border-radius 63rpx
				font-size 42rpx
				font-family PingFangSC-Semibold, PingFang SC
				font-weight 600
				color #FFFFFF
				line-height 102rpx
				text-shadow 0rpx 4rpx 6rpx rgba(0, 0, 0, 0.11)
		.prompt
			color #fff
			font-family PingFangSC-Semibold, PingFang SC
			font-size 32rpx
			& > view:last-child
				font-size 28rpx
				padding 26rpx 0 94rpx
		.rules
			padding-bottom 22rpx
			text
				font-family PingFangSC-Semibold, PingFang SC
				font-size 28rpx
				display inline-block
				width 206rpx
				height 58rpx
				color #FFFFFF
				line-height 58rpx
				text-align center
				border-radius 29rpx
				border 2rpx solid #FFFFFF
				opacity .44
	.alert-mask
		position fixed
		left 0
		top 0
		right 0
		bottom 0
		background rgba(0, 0, 0, 0.3)
		z-index 3
		overflow-x hidden
		overflow-y auto
		-webkit-overflow-scrolling touch
		.wrapper
			position absolute
			left 50%
			top 50%
			width 621rpx
			margin-top -540rpx
			margin-left -310rpx
			text-align center
			background #fff
			border-radius 20rpx
			padding-bottom 30rpx
			.close
				position absolute
				right 0
				top 0
				padding 52rpx 40rpx 30rpx 30rpx
				&:before
					display block
					content '\e63d'
					font-size 30rpx
					color #666
			.head1
				font-size 36rpx
				text-align center
				padding 30rpx 0 40rpx 0
			.cont1
				font-size 26rpx
				line-height 46rpx
				color #333
				text-align justify
				padding 0 40rpx
				display flex
				flex-direction row
				flex-wrap nowrap
				justify-content flex-start
				.table
					margin 20rpx 0 0 0
					.tr
						display flex
						flex-direction row
						flex-wrap nowrap
						justify-content flex-start
						width 100%
						height 50rpx
						align-items center
						&:last-child > .td
							border-bottom solid rgba(0,0,0,0.3) 1rpx
						.td
							display flex
							justify-content center
							border-top solid rgba(0,0,0,0.3) 1rpx
							border-left solid rgba(0,0,0,0.3) 1rpx
							padding-left 10rpx
							&:first-child
								width 40%
							&:last-child
								width 60%
								border-right solid rgba(0,0,0,0.3) 1rpx
						.th
							display flex
							width 50%
							justify-content center
							padding-left 10rpx
							border-top solid rgba(0,0,0,0.3) 1rpx
							border-left solid rgba(0,0,0,0.3) 1rpx
							&:first-child
								width 40%
							&:last-child
								width 60%
								border-right solid rgba(0,0,0,0.3) 1rpx
				.table-prompt
					position relative
					top 10rpx
					display block
	.bind-mobile-mask
		position fixed
		left 0
		right 0
		top 0
		bottom 0
		background: rgba(0, 0, 0, .6)
		z-index 11
		.bind-mobile-wrapper
			position fixed
			left 0
			right 0
			bottom 0
			padding 66rpx
			background: #fff
			border-top-left-radius 20rpx
			border-top-right-radius 20rpx
			.title
				display flex
				width 100%
				align-items center
				font-size 40rpx
				&::before,
				&::after
					flex 1
					content ''
					height 2rpx
				&::before
					margin-right 30rpx
					background: linear-gradient(to right, #fff, #D9D9D9)
				&::after
					margin-left 30rpx
					background: linear-gradient(to right, #D9D9D9, #fff)
			.mobile
				display flex
				& > button
					margin-top 71rpx
					flex 1
					height 90rpx
					display flex
					align-items center
					justify-content center
					font-size 32rpx
					color #fff
					background-color rgb(254,248,200)
					border-radius 45rpx
.big-screen
	height 100vh
	overflow hidden
