@import "../../../style/base.styl";
page
	background #F7F7F7
.order_complaint
	padding-bottom 178rpx
	// 问题
	.problem
		background #fff
		margin-top 20rpx
		.title
			padding 30rpx 40rpx 28rpx
			border-bottom 1rpx solid #EDEDED
			.placeholder-class
				color $fontColor6
			input
				font-size 32rpx
				line-height 48rpx
				color $fontColor6
		.content
			padding 30rpx 40rpx 28rpx
			.placeholder-class
				color $fontColor9
			textarea
				width 100%
				height 230rpx
				font-size 28rpx
				line-height 48rpx
				color $fontColor9
	// 提示
	.prompt
		padding 20rpx 40rpx
		line-height 34rpx
		font-size 24rpx
		color $fontColor6
	//底部补缴
	.payment
		position fixed
		left 0
		bottom 0
		width 100%
		height 178rpx
		font-size 24rpx
		color #9D9DA0
		text-align center
		button
			width 84%
			height 98rpx
			line-height 98rpx
			background linear-gradient(to right, $deepThemeColor, $shallowThemeColor)
			box-shadow 0px 8rpx 10rpx 0px rgba(132,209,87,0.2)
			border-radius 50rpx
			font-size 40rpx
			color #FFFFFF
			margin-top 40rpx
