@charset "UTF-8"

// 以下配置用于stylus编译后不添加前缀 如@-moz-keyframes 小程序会报错
vendors = official
mixinsWidthHeight($width = 100%, $height = 100%)
    width $width
    height $height
mixinsPositionCard($position=relative,$left=0,$top=0)
    position $position
    left $left
    top $top
    transform translate(- $left,- $top)
mixinsIconfont($content='',$size=16px,$color=#5EBE68)
    content $content
    font-size $size
    color $color
.iconfont
    font-family 'iconfont' !important
    font-size 16px
    font-style normal
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
flexCenter($align=normal, $justify=normal)
    display flex
    align-items $align
    justify-content $justify
.prompt
	width 100%
	& > view
		view
			width 100%
			background #FFF5F5
			padding 16rpx 32rpx 16rpx 25rpx
			text-align left
			font-size 22rpx
			line-height 40rpx
			box-sizing border-box
			color #FA5151
			text
				text-decoration underline
.order_details
	.deduction-amount
		position relative
		text-align center
		font-size 76rpx
		font-weight 500
		color #33333D
		height 156rpx
		display flex
		justify-content center
		line-height 156rpx
		margin 0 32rpx
		box-sizing border-box
		text
			font-size 28rpx
			color #FF563C
			line-height 320rpx
		&.buckling-failure
			height 128rpx
			line-height 128rpx
			text
				line-height 170rpx
	.text0
		text-align center
		font-family PingFang SC
		font-size 28rpx
		font-weight normal
		line-height 48rpx
		text-align center
		letter-spacing 0rpx
		color #66666E
		padding-bottom 40rpx
		// border-bottom 1rpx solid rgba(0, 0, 0, 0.1)
	//扣费详情
	.deduction-details
		background #fff
		padding 0 32rpx 32rpx
		&>view
			display flex
			font-size 28rpx
			padding-top 26rpx
			&>view:first-child
				flex 1
				height 48rpx
				color #66666D
				&.deductions-money
					color #33333D
			&>view:last-child
				flex 1
				text-align right
				font-family PingFangSC-Medium, PingFang SC
				font-weight 500
				color #33333D
				&.deductions
					color #F7B500
				&.refund-success
					color #00B85C
			&.add-border
				border-bottom 1rpx solid rgba(0, 0, 0, 0.1)
				border-top 1rpx solid rgba(0, 0, 0, 0.1)
		&>view:first-child
			padding-top 32rpx
		.text1
			font-family PingFang SC
			font-size 22rpx
			font-weight normal
			line-height 28rpx
			text-align justify
			letter-spacing 0rpx
			display block
			margin-top 20rpx
		.consumption-type
			padding 0
			height 115rpx
			line-height 115rpx
	
	.deduction-details-truck
		background #fff
		padding 0 32rpx 32rpx
		position relative
		.first
			display flex
			font-size 28rpx
			padding-top 26rpx
			&>view
				flex 1
				height 48rpx
				margin 20rpx 0
				color #66666D
				.color_text
					display inline
					color #039EEB
					padding 0 10rpx
		.line_text
			display flex
			font-size 28rpx
			padding 5rpx 0
			flex-direction column
			border-top 1px solid #e1dcdc
			&>view
				display flex
				font-size 28rpx
				padding 26rpx 0
				justify-content space-between
		.turnOroff
			position absolute
			bottom -10%
			left 40%
			color: #039EEB;
			height 60rpx
	.active_hide
		height 160rpx !important
				
	// 费用疑问
	.doubt
		height 98rpx
		display flex
		align-items center
		justify-content flex-end
		margin 0 32rpx
		border-bottom 1rpx solid rgba(0, 0, 0, 0.1)
		border-top 1rpx solid rgba(0, 0, 0, 0.1)
		color #039EEB
		font-size 28rpx
		&::before
			content '\e650'
			font-size 32rpx
			margin-right 14rpx
		&.not-border-bottom
			border-bottom 0
	.line
		height 32rpx
		background #EEEEEE
	// new 货车
	.module
		padding 30rpx
		font-size 28rpx
		background #fff
		font-weight normal
		letter-spacing 0rpx
		font-family PingFang SC
		border-bottom 20rpx solid #eee
		.subModle
			color #666666
			line-height 48rpx
			margin-bottom 20rpx
			flexCenter(center,space-between)
			.lateFees
				font-size 28rpx
				display flex
				align-items center
				&:after
					content '\e650'
					font-size 28rpx
					margin-left 14rpx
					color #66666E
	.module1
		height auto
		.borderBottom
			color #FA5151
			padding-bottom 33rpx
			border-bottom 1rpx solid #eee
		.fontColor1
			color #00A9FF
	.module2
		.text1
			font-size 22rpx
			line-height 28rpx
			text-align justify
			display block
			margin-top 20rpx

	//底部补缴
	.payment
		position fixed
		left 0
		bottom 0
		width 100%
		height 204rpx
		padding 20rpx 0
		font-size 24rpx
		color #66666D
		text-align center
		background #fff
		button
			width 84%
			height 98rpx
			line-height 98rpx
			background #2A4F44
			box-shadow 0rpx 4px 2px 0rpx rgba(212, 212, 212, 0)
			border-radius 50rpx
			font-size 40rpx
			color #FFFFFF
		.payment-tips
			padding-top 18rpx
	.pingAn
		width 106rpx
		height 120rpx
		position fixed
		right 80rpx
		bottom 530rpx
		.image
			width 200%
			height 150%
	.keFu
		width: 90rpx
		height: 160rpx
		background: #FFFFFF
		box-shadow: 0rpx 4rpx 16rpx 0rpx rgba(0,0,0,0.2)
		border-radius: 46rpx
		position fixed
		right 28rpx
		bottom 300rpx
		z-index 100
		text-align center
		font-size 20rpx
		font-family PingFangSC-Regular, PingFang SC
		font-weight 400
		color #207AFF
		line-height 28rpx
		&::before
			margin 24rpx auto 12rpx
			display block
			content ''
			width 60rpx
			height 50rpx
			background url(https://file.cyzl.com/g001/M02/05/C5/oYYBAGT-biOAFbDnAAALQHuBIPg231.png) no-repeat
			background-size cover

.is-arrears
	padding-bottom 224rpx
