@import "../../../style/base.styl";
page
	background #fff
.order_details
	.deduction-amount
		position relative
		text-align center
		font-size 76rpx
		font-weight 500
		color $fontColor3
		line-height 53px
		border-bottom 5rpx dashed #fff
		background linear-gradient(to right, #FFFFFF , $fontColor9 , #FFFFFF)
		background-origin border-box
		.doubt
			position absolute
			top 32rpx
			right 62rpx
			line-height 38rpx
			background #fff
			z-index 1
			text
				//position absolute
				//top 10rpx
				//right -3rpx
				//display inline-block
				//width 20rpx
				//height 20rpx
				//background #f00
				//border-radius 50%
		.doubt::before
			content '\e650'
			color #039EEB
			font-size 38rpx
		.deduction-amount-box
			position relative
			padding 80rpx 28rpx 68rpx
			background #fff
			.deduction-amount-title
				font-size 32rpx
				color $fontColor9
				font-weight 400
				line-height 44rpx
			.flow-version-second
			.failure-prompted
				font-size 24rpx
				color #FF0000
				line-height 34rpx
			.flow-version-second
				color #f7b500
			.deduction-amount-red
				color red
			.refund
				color $fontColor9
			.split-amount
				position absolute
				width 100%
				bottom 10rpx
				left 0
				padding 0 70rpx
				box-sizing border-box
				display flex
				font-size 28rpx
				height 40rpx
				color $fontColor6
				align-items center
				& > view
					flex 1
					text
						color $fontColor3
						&.buckling-failure
							color #FF563C
	// 提示
	.tips
		background #FFFAEC
		padding 18rpx 40rpx
		color $fontColor6
		font-size 24rpx
		line-height 36rpx
		.blue
			color #039EEB
	//扣费详情
	.deduction-details
		background #fff
		padding 20rpx 60rpx
		//margin-bottom 20rpx
		&>view
			display flex
			font-size 28rpx
			padding-top 20rpx
			&>view:first-child
				flex 4
				height 48rpx
				color $fontColor6
			&>view:last-child
				flex 6
				text-align right
				color $fontColor3
	.refund-details
		background rgba(247, 181, 0, 0.08)
		margin 40rpx 0 60rpx
	//底部补缴
	.payment
		position fixed
		left 0
		bottom 0
		width 100%
		height 98rpx
		padding 20rpx 0
		font-size 24rpx
		color #9D9DA0
		text-align center
		background #fff
		button
			width 84%
			height 98rpx
			line-height 98rpx
			background linear-gradient(to right, $deepThemeColor, $shallowThemeColor)
			box-shadow 0px 8rpx 10rpx 0px rgba(132,209,87,0.2)
			border-radius 50rpx
			font-size 40rpx
			color #FFFFFF
	// 微保活动
	.micro-insurance
		position fixed
		bottom 22%
		right 56rpx
		image
			width 129rpx
		.close_button
			width 49rpx
			height 49rpx
			line-height 49rpx
			margin 20rpx auto
			text-align center
			border-radius 50%
			background #D4D4D4
			&::before
				content '\e63d'
				color #fff
				font-size 30rpx
.is-arrears
	padding-bottom 118rpx
