@import "../../../style/base.styl";
@import "../../../style/my_animate.styl";
.information_validation
	display flex
	flex-direction column
	min-height 100vh
	// 轮播图
	.my-swiper
		margin-top 20rpx
		width 100%
		height 400rpx
		.my-swiper-item
			height 400rpx
			& > image
				position relative
				width 630rpx
				height 100%
				border-radius 16rpx
				.iconfont
					position absolute
					left 0
					right 0
					bottom 0
					display flex
					align-items center
					padding-left 40rpx
					height 80rpx
					font-size 32rpx
					color #fff
					background: rgba(0,0,0,.3)
					z-index 2
					&::before
						display flex
						align-items center
						justify-content center
						margin-right 12rpx
						width 57rpx
						height 46rpx
						content '\e65c'
						font-size 56rpx
	// 标题
	.title
		margin-top 40rpx
		display flex
		align-items center
		padding 0 40rpx
		height 56rpx
		font-size 40rpx
		font-weight 500
		&::before
			margin-right 24rpx
			content ''
			width 10rpx
			height 10rpx
			border 6rpx solid $fontColor
			border-radius 50%
	// 提示
	.tips
		margin-top 10rpx
		display flex
		align-items center
		padding-left 80rpx
		height 40rpx
		font-size 24rpx
		color $fontColor6
	// 内容
	.content-wrapper
		margin 20rpx 40rpx 10rpx
		min-height 352rpx
		box-shadow:4rpx 12rpx 56rpx 0 rgba(102,102,109,0.19)
		border-radius: 12px
		overflow hidden
		&.opened
			overflow auto
		.item
			display flex
			align-items center
			padding 0 40rpx
			font-size 32rpx
			color $fontColor9
			border-bottom 1rpx solid #F8F8F8
			box-sizing border-box
			& > view
				padding-top 30rpx
				padding-bottom 10rpx
				flex .35
			& > input,
			& > picker,
			& > textarea
				padding-top 30rpx
				padding-bottom 10rpx
				flex .65
				line-height 48rpx
				text-align right
				color $fontColor6
			& > textarea
				line-height 0
		.split
			margin 0 32rpx
			border-bottom 1rpx dashed #979797
	// 展开
	.open
		display flex
		align-items center
		padding-right 88rpx
		height 48rpx
		font-size 24rpx
		color $blueColor
		& > view
			flex 1
		& > text
			display block
			&.opened
				&::after
					transform rotateZ(-270deg)
			&::after
				margin-left 6rpx
				display inline-block
				content '\e60e'
				transition all .3s
				transform rotateZ(-90deg)

	// 自动天聪
	.auto-fill
		flex 1
	// 确认按钮
	.btn
		display flex
		align-items center
		justify-content center
		margin 0 60rpx
		margin-top 46rpx
		margin-bottom 40rpx
		height 98rpx
		font-size 40rpx
		font-weight 500
		color #fff
		border-radius 49rpx
		background: linear-gradient(to right , $deepThemeColor, $shallowThemeColor)
		&.available
			animation btnFadeIn .3s
			animation-fill-mode forwards
		&.unavailable
			animation btnFadeOut .3s
			animation-fill-mode forwards
