@import "../../../style/base.styl";
@import "../template/pass-ticket-template/pass-ticket-template.styl";
@import "../template/pass-card-template/pass-card-template.styl";
.service-card-voucher
	background: #fff
	min-height 100vh
	.content
		padding 30rpx
