@import "../../../style/base.styl";
page
	height 100vh
	overflow hidden
.index
	background: #F5F5F5
	min-height 100vh
	overflow hidden
	.equipment_top
		width 100%
		background #ffffff
		padding-bottom 20rpx
		.prompt
			margin 20rpx 56rpx 0
			padding 8rpx 12rpx
			color red
			text-align right
			background rgba(51,51,61,0.05)
			border-radius 10rpx
			font-size 24rpx
			line-height 40rpx
		//设备图片
		&>view:nth-child(1)
			padding 72rpx 0 60rpx
			border-bottom 1rpx solid #ccc
			& > view
				margin auto
				width 262rpx
				height 184rpx
				background rgba(71,75,72,1)
	.equipment_center
		width 100%
		background #ffffff
		margin-top 20rpx
		padding-bottom 20rpx
	.equipment_bottom
		position fixed
		bottom 0
		left 0
		width 100%
		height 314rpx
		background #ffffff
		//继续办理
		&>button
			width 630rpx
			height 98rpx
			margin-top 31px
			background linear-gradient(to right, $deepThemeColor, $shallowThemeColor)
			box-shadow 0rpx 8rpx 10rpx 0rpx rgba(132,209,87,0.2)
			border-radius 49rpx
			font-size 40rpx
			font-family PingFangSC-Medium,PingFang SC
			font-weight 500
			color rgba(255,255,255,1)
		//取消办理&客服中心
		.cancel
			position absolute
			bottom 0
			width 100%
			display flex
			flex-direction row
			height 80rpx
			line-height 80rpx
			font-size 32rpx
			text-align center
			font-family PingFangSC-Regular,PingFang SC
			color rgba(0,145,255,1)
			&>view:first-child
				flex 5
			&>view:last-child
				flex 5
	.bottom-height
		height 200rpx
	// 相同列表样式
	.list
		display flex
		flex-direction row
		padding 32rpx 56rpx 0
		font-size 28rpx
		font-family PingFangSC-Regular,PingFang SC
		&>view:first-child
			flex 5
			color $fontColor6
		&>view:last-child
			flex 5
			text-align right
			color $fontColor3
		&>view.status
			color #F9C844
		&>view.servicing
			color #E02020
		&>view.fail
			color #FF0000
		&>view.pass
			color #16AD69




