@import "../../../style/base.styl";
.container
	display flex
	flex-direction column
	background #2A4F44
	min-height 100vh
	.img
		width 100%
		display block
		font-size 0
		vertical-align top
		margin-top -1rpx
	.btn-container
		width: 750rpx;
		height: 248rpx;
		background: #FFFFFF;
		border-radius: 16rpx 16rpx 0rpx 0rpx;
		opacity: 0.96;
		display flex
		justify-content center
		text-align center
		padding 40rpx 44rpx
		box-sizing border-box
		.btn-tips
			font-size: 22rpx;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #39812B;
			line-height: 32rpx;
			padding-bottom 32rpx
		.btn
			width: 662rpx;
			height: 110rpx;
			display flex
			align-items center
			justify-content center
			background: #2A4F44;
			box-shadow: 0rpx 4rpx 2rpx 0rpx rgba(211.5760973095894,211.5761125087738,211.5761125087738,0.5);
			border-radius: 64rpx;
			font-size: 36rpx;
			font-family: PingFangSC-Semibold, PingFang SC;
			font-weight: 600;
			color: #FFFFFF;
